/*!CK:106906576!*//*1456276980,*/

._y37{height:120px;overflow:hidden;position:relative}._3y0r{width:100%}._y38{display:none;position:absolute;right:10px;top:10px;z-index:101}._y37:hover ._y38{display:inline}

#bootloader_L2n8a{height:42px;}.bootloader_L2n8a{display:block!important;}