/*!CK:3129442158!*//*1455849579,*/

._50cr{display:table;position:relative;width:100%}._50cx{color:#9197a3;cursor:pointer;display:table-cell;font-size:14px;padding:12px;text-align:center;width:50%}._50c_{background-color:#3b5998;bottom:0;height:2px;left:0;position:absolute;transition:left ease-in-out 100ms;width:50%;z-index:1}._51l0 ._50c_{background-color:#0084ff}._50cw ._50c_{left:50%}._50cy{color:#3b5998}._51l0 ._50cy{color:#0084ff}

#bootloader_gRc7v{height:42px;}.bootloader_gRc7v{display:block!important;}