/*!CK:2980906877!*//*1456327951,*/

._3h1u{cursor:pointer}._3h1v{display:none}._3h1w{background-image:url(/rsrc.php/v2/yq/r/wPGj4FEXKdp.png);background-repeat:no-repeat;background-size:auto;background-position:0 0;display:block;height:16px;width:16px}._3h1u:hover ._3h1w{background-image:url(/rsrc.php/v2/yT/r/W_Fhw0FJRLy.png);background-repeat:no-repeat;background-size:auto;background-position:0 0}

#bootloader_2DaM4{height:42px;}.bootloader_2DaM4{display:block!important;}