/*!CK:1840901116!*//*1455666479,*/

._54as{border:1px solid;border-color:#dcdee3}._54aq{color:#9197a3;font-size:11px;line-height:15px}._1shx{display:block;height:auto;max-width:100%}

#bootloader_bmINr{height:42px;}.bootloader_bmINr{display:block!important;}