

 

<!DOCTYPE html>

<html>

<head>

    <title> B S C </title>



    <link rel="shortcut icon" href="img/favicon.png">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta name="description" content="">

    <meta name="author" content="TM Maestas">

    <meta charset="utf-8">

  

<title>Better Statistical Consulting | Statistical Consultant</title>



        <meta name="description" content="Better Statistical Consulting | Statistical Consultant. Get statistics help: BSC offers services related to analyzing quantitative data and reporting results in academic journals and business briefs alike. Recent projects include research design, completion, analysis, and report production for Caterpillar, Inc., and data analysis for the Illinois Environmental Protection Agency and the New Mexico Department of Health. Data analysis and special pricing offers competitive benefits for clients. Not all statistical consultants are statisticians, so choose statistics help carefully. If you need help with Stata or SPSS, contact BSC and we will perform the analysis for you so you can focus on your project and avoid the statistical package learning curve." />



        <meta name="keywords" content="statistical consultant, statistical analyses, statistics help, dissertation proposal, dissertation defense, qualified statistician, thesis help, statistician" />



<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">



    <link rel="stylesheet" type="text/css" href="./css/application.css"/>

    <link rel="stylesheet" type="text/css" href="./css/styles.css"/>

    <script type="text/javascript" src="./lib/d3.js"></script>

<style>

body {

font-family: 'Roboto', sans-serif;

}

  
 

    #win3 {

    min-height: 250px;

    }

    #about {

min-height:350px; 

height:660px;

float:left;

over-flow:scroll;



}

    .strategy {

    min-height: 250px;

    }

    .win3 {

    }
 
 .about h3 {
     padding:5px;
     text-align:left;
 }
#img {
    width:100%;
    opacity:.8;
    margin:0px;
    margin-bottom:0px;
    padding:0px;
    border-top:.5px solid;
    border-color:teal;
}
 .turnBlue {

 background-color:#7fc4f0;
 opacity:.9;
 color:darkslategray;

 }
.floatLeft 

{

float:left;

}

p {
color:slategray;
padding:15px;
}
#logo {
    position:absolute;
    top:0px;
    left:0px;
opacity:0.07;
width:120%;
overflow-x:hidden;
float:left; 
}
#intro { 

}
#danielle-img {

margin-top:23px;
width:50%; 

float:right;

}

#bio p {
 
z-index:2;
margin-top:27%;
 padding-top:150px; 
 text-align:justify;
line-height:1.5em;
color:darkslategray;
 padding-right:5%;
padding-left:5%;


 }


.page-title {

padding-left:18%;

}

    body {

        color:lightslategray;

 text-align:justify;
    }

    .center {

        text-align:center;

    }

    #bscbuilding { 

    width:100%;

    margin-bottom: 20px;

     font-size:.9rem;
 }
 #imgbuilding{
     
     margin:5%;width:90%;
 }
 #contact-sm {
    float:right; 
    padding-right:20px;
    padding-top:20px;
 }
h1, h2, h3, h4, h5, h6 {   
    opacity:.8;
    color:darkslategray;
    text-align:center;
}
li {
    color:darkslategray;
}
#page-title {
    color:slategray; 
    width:80%;
    font-size:2em;
    font-weight:bold;
    background: var(--accent-color, teal);
} 

.images {
    --img: url("images/header60.png");
    background: var(--img);
    max-width:100%;
    color:darkslategray; 
    z-index:-1;

}
body {
    color:darkslategray;

}
p {
    color:darkslategray;
    }
#copyright { 
    z-index:2;
    text-align:center;
    color:darkslategray;
}
#tweet {
    max-width:220px;
    max-height:400px; 
}

.box {
    width:90px;
    opacity:.6;
    height: 90px;
    margin: 10px;
    float: left; 
    border: #969696 solid thin;
    padding: 5px;
}
.subtitle { 
    padding-top:5px;
    padding-bottom:5px;
}
#subtitle {
padding-top:5px;
padding-bottom:15px;
}
#data p {
    margin:3%;
		padding:3%
    margin-bottom:0px; 
	color:darkslategray;
	font-weight:heavy;
}
#sidebar {
    margin-top:80px;
}
#sidebar li {
    font-size:1.3em; 
    min-height:30px;
}
.pan {
max-height:500px;
overflow-y:scroll;
padding:5%;
padding-right:8%;
}
.sidebar li {
margin:0px;
padding-top:25%;
padding-bottom:25%;
height:100px;
width:180px;
    }
.panetitle { 
margin:0px;
margin-top:-5px;
margin-bottom:-5px;
padding:0px;
width:100%;
opacity:.7;
}
.panetitle h3 {
text-align:center;
padding:10px 0px ;
margin:0px; 
width:100%;
}  
#strat :target{
border:2px solid teal;
}
#process a:target{
border:2px solid teal;
}
#analysis a:target{
border:2px solid teal;
}
 </style>




</head>

<body>
    <!--
<div id="container2"></div>
<script type="text/javascript">
    var data = []; // <- A

    var datum = function (x) { // <- B
        return (15 + x * x)+10;
    };
    
    var newData = function () { // <- C
        data.push(datum);
        return data;
    };

    function render(){
        var divs = d3.select("#container2")
                    .selectAll("div")
                    .data(newData); // <- D

        divs.enter().append("div").append("span");

        divs.attr("class", "v-bar")
            .style("height", function (d, i) {
                return d(i) + "px"; // <- E
            })
            .select("span") // <- F
                .text(function(d, i){ 
                    return d(i); // <- G
                });

        divs.exit().remove();
    }
    
    setInterval(function () {
        render();
    }, 1000);

    render();
</script>
-->
 <!--   <div class="logo">

 AddThis Smart Layers BEGIN 

  Go to http://www.addthis.com/get/smart-layers to customize 

<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-51f2001a63f9c140"></script>

<script type="text/javascript">

  addthis.layers({

    'theme' : 'transparent',

    'share' : {

      'position' : 'left',

      'numPreferredServices' : 5

    }   

  });

</script>
 
<!-- AddThis Smart Layers END 
</div>-->
 
    
 <img src="images/bsc_logo_unmSM.jpg" alt="bsc building logo" id="logo"></img>
       
 

        <nav id="sidebar" class="sidebar nav-collapse collapse">
            <ul class="nav flex-column">
                <li class="nav-item ">
                  <a class="nav-link active  turnBlue" href="#">HOME</a>
                </li>
                <li class="nav-item  ">
                  <a class="nav-link  turnBlue" href="#servicesTitle">SERVICES</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link  turnBlue" href="#contact">CONTACT BSC</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link  turnBlue " href="#">DATA NEWS</a>
                </li>
                
                <li class="visible-xs">

                        <a href="login.html" class="turnBlue"><i class="fa fa-sign-out"></i> <span class="name">Sign Out</span></a>
    
                    </li>

                
<!--
        <li class="nav-item"> <a class="nav-link" href="#">PROCESS</a></li> 
        <li class="nav-item"> <a class="nav-link" href="#">STATISTICAL ANALYSIS</a></li> 
        <li class="nav-item"> <a class="nav-link" href="#">PROPOSAL PHASE</a></li> 
        <li class="nav-item"> <a class="nav-link" href="#">RESEARCH QUESTIONS</a></li> 
        <li class="nav-item"> <a class="nav-link" href="#">SAMPLE SIZE</a></li> 
        <li class="nav-item"> <a class="nav-link" href="#">POWER ANALYSIS</a></li> 
        <li class="nav-item"><a class="nav-link" href="#">ONLINE DATA SETS</a></li> 
  

<li class="nav-item">
<div class="tweet" id="tweet">
        <section id="block-boxes-os-addthis" class="block block-boxes block-boxes-os_boxes_addthis"  module="boxes" delta="os_addthis"><div class="block-inner clearfix">  
             
            
            <div class="block-content content"><div id='boxes-box-os_addthis' class='boxes-box'><div class="boxes-box-content"><div class="addthis_toolbox addthis_default_style "><a class="addthis_button_facebook"></a><a class="addthis_button_twitter"></a><a class="addthis_button_email"></a><a class="addthis_button_linkedin"></a><a class="addthis_button_google_plusone"></a></div></div></div></div>
            </div></section>

            <a href="https://twitter.com/AmstatNews" class="twitter-follow-button" data-show-count="false" target="_blank"> </a> ;<script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script> <br />
            <a class="twitter-timeline" href="https://twitter.com/AmstatNews" target="_blank"> </a> <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
     
       </div>
    </li>-->
   </ul>  
 
           

            <h5 class="sidebar-nav-title"> <a class="action-link" href="#"><i class=" "></i></a></h5>

            <!-- some styled links in sidebar. ready to use as links to email folders, projects, groups, etc -->

            <ul class="sidebar-labels">

              

            </ul>


 
            <!-- A place for sidebar notifications & alerts -->

            <div class="sidebar-alerts">

               
            </div>

        </nav>    <div class="wrap">

        <header class="page-header">

            <div class="navbar">

                <ul class="nav navbar-nav navbar-right pull-right">

                    <li class="visible-phone-landscape">
<!--SEARCH
                        <a href="#" id="search-toggle">

                            <i class="fa fa-search"></i>

                        </a>
-->
                    </li>

             <!--<li class="dropdown">

                 

                ////







                    </li>

            -->

             

                    <li class="hidden-xs dropdown"> 

                    </li>

                    <li class="divider"></li>

                    <li class="visible-xs">

                        <a href="#"

                           class="btn-navbar"

                           data-toggle="collapse"

                           data-target=".sidebar"

                           title="">

                            <i class="fa fa-bars"></i>

                        </a>

                    </li>

                    <li class="hidden-xs"><a href="login.html"><i class="glyphicon glyphicon-off"></i></a></li>

                </ul>
<!-- SEARCH
                <form id="search-form" class="navbar-form pull-right" role="search">

                    <input type="search" class="form-control search-query" placeholder="Search BSC">

                </form>
-->
                <div class="notifications pull-right">

    <!--      <div class="alert pull-right">

                        <a href="#" class="close ml-xs" data-dismiss="alert">&times;</a>

                        <i class="fa fa-info-circle mr-xs"></i>   <a id="notification-link" href="#">settings</a> on the right!

                    </div>

                -->         

             </div>

            </div><br />

<img id="img" class="img" src= "images/headerTsm.png"/>
        </header>  
        <!--<h2 id="page-title" class="page-title">BETTER STATISTICAL CONSULTING</h2>-->
        <br />       <div class="content container">

       

        <div class="row">  

            <div class="col-lg-8">

                <section class="widget">

                    <header>

                        <h4> 

                        </h4>

                        <div class="widget-controls">

                            <a title="Options" href="#"><i class="glyphicon  "></i></a>

                            <a data-widgster="expand" title="Expand" href="#"><i class="glyphicon "></i></a>

                            <a data-widgster="collapse" title="Collapse" href="#"><i class="glyphicon  "></i></a>

                            <a data-widgster="close" title="Close" href="#"><i class="glyphicon "></i></a>

                        </div>

                    </header>

                    <div class="body no-margin">

                        <div id="intro"  class="intro">

                     <!--      <div id="main" class="main"></div>

                            <script type="text/javascript">

                                var data = [ // <- A

                                    {width: 10, color: 23},{width: 15, color: 33},

                                    {width: 30, color: 40},{width: 50, color: 60},

                                    {width: 80, color: 22},{width: 65, color: 10},

                                    {width: 55, color: 5},{width: 30, color: 30},

                                    {width: 20, color: 60},{width: 10, color: 90},

                                    {width: 8, color: 10}

                                ];

                                var colorScale = d3.scaleLinear()

                                    .domain([0, 100])

                                    .range(["#7fc4f0", "teal"]);

                                function render(data) {

                                    var bars = d3.select(".main").selectAll("div.h-bar")

                                        .data(data);

                                    bars.enter()

                                        .append("div")

                                        .attr("class", "h-bar")

                                        .merge(bars)

                                        .style("width", function (d) {

                                            return (d.width * 3) + "px";

                                        })

                                        .style("background-color", function(d){

                                            return colorScale(d.color);

                                        })

                                        .text(function (d) {

                                            return d.width;

                                        });

                                    bars.exit().remove();

                                }

                                function randomValue() {

                                    return Math.round(Math.random() * 100);

                                }

                                setInterval(function () {

                                    data.shift();

                                    data.push({width: randomValue(), color: randomValue()});

                                    render(data);

                                }, 1000);

                                render(data);

                            </script>


                 </div>

                 -->
                        <div id="subtitle" class="subtitle visits-info well well-sm">

                            <h3>Better Statistical Consulting | Statistical Consultant </h3>  
 

                        </div>

                    </div>
 
      <div id="data">    
<p>
 <strong>Get Statistics Help:</strong>  Better Statistical Consulting   offers services related to analyzing quantitative data and reporting results in academic journals and business briefs alike, meeting the analysis demands of professionals, students, and researchers. Danielle has experience analyzing data from diverse fields, including economics, environmental conservation, education, mental health, sociology, and business, among others.  
 
<br /><br />
 <strong> Past Projects </strong> include research design, completion, analysis, and report production for Caterpillar, Inc., and data analysis for the Illinois Environmental Protection Agency and the New Mexico Department of Health.    <br /><br /> <strong> Data analysis and special pricing</strong> offers competitive benefits for clients. Not all statistical consultants are statisticians, so choose statistics help carefully. If you need help with Stata or SPSS, contact BSC and we will perform the analysis for you so you can focus on your project and avoid the statistical package learning curve.
</p>	 
</div>
                </section>

           

                </section> <!--
      <section class="widget  large">

  
                        <div class="subtitle visits-info well well-sm">
 
                            <h3> </h3>
 

                        </div>
 

                
    
                            <!--
                                   
                    <div class="body  ">
     
                        <div id="win4">
<div class="body win4"></div>
<div class="body win4"></div>
<div class="body win4"></div>
<div class="body win4"></div>
<div class="body win4"></div>
<div class="body win4"></div>
<div class="body win4"></div>
<div class="body win4"></div>
 
<script type="text/javascript">
d3.selectAll(".win4")
.attr("class","box gradi")
    .each(function (d, i) {
        d3.select(this).append("div").append("p").text(i);
    });
</script>
           </div>

                    </div>

                </section>
 -->
            </div>

            <div class="col-lg-4 about">

                <section id="about" class="widget large">



  
                    <div class="subtitle visits-info well well-sm">
 
                        <h3>About BSC</h3>


                    </div>


                        <div class="actions" >

                                <h4 class="text-muted pull-right"></h4>

                                <img  id="danielle-img" src="images/dprofile.jpg" /><br /><hr>

                            </div>

 

                     
<div id="bio">
  <p><strong>Founded in 2012</strong> by Danielle Dur&aacute;n, M.S., Better Statistical Consulting has over 7 years of experience in quantitative analysis. Located in downtown Albuquerque, New Mexico, BSC offers services related to analyzing quantitative data and reporting results in academic journals and business briefs alike. Recent projects include research design, completion, analysis, and report production for Caterpillar, Inc., and data analysis for the Illinois Environmental Protection Agency and the New Mexico Department of Health. Danielle, a social science researcher by training, has an educational background in statistics and research methods. Her propensity for data analysis and special pricing offers competitive benefits for clients.</p>
</div>
 

                 





                </section>

                <section id="strategy" class="widget widget-tabs">

                    <header  >

                        <ul class="nav nav-tabs">

                            <li class="active">

                                <a href="#strat"  id="servicesTitle" data-toggle="tab">STRATEGY</a>

                            </li>

                            <li>

                                <a href="#process" data-toggle="tab">PROCESS</a>

                            </li>

                            <li>

                                <a href="#analysis" data-toggle="tab">ANALYSIS</a>

                            </li>

                        </ul>

                    </header>

                    <div   class="body tab-content strategy  " >
 
                        <div id="strat" class="pan tab-pane active clearfix">
 <div  class="panetitle arrive  well"> 
                            <h3>Services</h3>   
                        </div>
                       

                     

                            <span class="tab-header"><span class="  arrive label label-primary"></span><h3><i class="fa fa-comments"></i> BSC STRATEGY</h3></span>
     

<ul  >
 
<li><strong>



    What happens when I contact BSC about my project?</strong> <br /><br /> The initial consultation is free of charge. The purpose of the initial consultation is for the consultant to gather some information about the clients’ study so that clients can be provided with a quote.



The best time to speak with a consultant is at the beginning of a project. Better Statistical Consulting offers unlimited email, phone and Skype support through the entirety of the client’s project, allowing for the strategic advantage of aligning research questions and study goals with the correct methodology and data plan. This approach will save the client time and money, and the work will be built upon a solid statistical foundation.</li>

<br />

<li>



Hiring a consultant to guide you through your methods section will ensure that the study design, measures (e.g. independent and dependent variables), research questions, hypotheses, data analysis plan and sample size justification all work together coherently. Clients receive unlimited telephone and email support in case you have any questions about the results.



</li>

<br />

<li>



<strong>It is crucial to have a consultant hired by the data analysis phase of your project.</strong> <br /><br />BSC performs all of the study-appropriate analyses using the latest versions of STATA and SPSS statistical computing software.  BSC delivers all of the results (e.g. tables and graphs) to you as Microsoft Word documents, along with a written narrative interpretation that demonstrates how to interpret and report the results. Also included is unlimited telephone, email, and Skype support to answer any questions that clients might have.</li>

<br />

<li>



You will receive continued telephone and email access to me all the way up until the day you graduate. If you or your committee members have any questions about the statistics, I will be prepared to help you answer them.</li>

<!--

<p class="parag"><strong> 
Learn More About Statistical Consulting</strong></p>
<ul class="paraglist">
 

<li>Better Statistical Consulting FAQ 
</li><li>Choosing a qualified statistical consultant
 
</li><li>Other Statistics Resources</ul>
 
--> 

 
 </ul>





                      </div>

                        <div id="process" class="pan tab-pane">
 <div    id="processTitle" class="panetitle arrive  well"> 
                            <h3>Services</h3>   
                        </div>
                            <span class="tab-header"><span class="label label-primary"></span><h3><i class="fa fa-cog"></i> BSC PROCESS</h3></span>
                  <ul>
<li>
<strong>
Better Statistical Consulting offers services that fall under two broad categories:<br /><br/></strong><strong> 1)  Assisting with research design </strong> and statistical considerations for your study; <br /><br /><strong>2)  Performing the data analysis </strong> with the appropriate explanation of results. BSC quotes each service separately, so clients may choose to use one service or both, depending on the stage of their project. This allows clients to choose the level of assistance best suited to their project.  
</li>
<br />
<li><strong>
The process of research design</strong> includes choosing an appropriate methodology, study design, sampling methods as applicable, and forming a data analysis plan.  

</li>  <br />
<li><strong>
The process of statistical work</strong> includes executing the data analysis plan, interpreting results and writing up findings according to the medium of distribution (article, dissertation, etc.).  



BSC handles all of the work on clients’ projects directly. All communication will be directed between the owner, Ms. Pasko, and the client.
</li>

</ul>

                       </div>

                        <div id="analysis" class="pan tab-pane">
 <div    id="analysisTitle" class="panetitle arrive  well"> 
                            <h3>Services</h3>   
                        </div>

                            <span class="tab-header"><span class="label label-primary"></span><h3><i class="fa fa-database"></i> BSC ANALYSIS</h3></span>
             
<ul> 
 
      <li><strong>Data Analysis. </strong>From the most basic descriptive statistics to more complex analyses, BSC can clean data, run your analyses, and produce clear, concise reports explaining the results. Danielle's personal attention ensures that you will understand every analysis. 



      </li>



    </ul>
 <br />

 

    <ul>



      <li><strong>Research Design. </strong>Before beginning an experiment or survey, let BSC work with you to ensure validity and reliability. From sampling to questionnaire design to implementation, Danielle will guide your survey from beginning to end.</li>



    </ul>



    <br>

    <ul>



      <li><strong>Data Management.</strong> Data needs to be stored after collection; let Danielle's experience with Access, Survey Monkey, and other online databases smooth the process. Surveys and forms are crisp and professional. <br>



      </li>



    </ul>



    <br>

    <ul>



      <li><strong>Data Analysis Results Interpretation.</strong> BSC will provide a second look at analyses performed elsewhere or simply review a pending report for accuracy. Contact Danielle for more information on results interpretation.<br>



      </li>



    </ul>



    <ul>


<br />
      <li><strong>Tutoring</strong>. BSC provides statistics tutoring limited to the Albuquerque metro area. Classes are by the hour, on a one-time basis or ongoing according to need. Undergraduate, graduate, and high school students are welcome for tutoring. Email for rates and policies.<br>
        <br />

      </li>



    </ul>
 


<br />

 



 

 </ul> 


       
 

                             </div>

                    </div>

                </section>



                <section id="win3" class="widget">

           

                        <header>
 

<img src="images/bsc_logo_unmSM.jpg" alt="bscbuilding" id="imgbuilding" />     
</header>
           
               
        <div  class="body win3">
          
<div id="rates" class="fluid ">
        <h4 id="contact" class="center">  <strong>Get the Statistics Help you need! </strong> </h4>
 <h4>
Contact BSC by phone or email <br>to get started today.</h4>
 

     
<p > <strong>Rates vary by the services requested. <br>
 
        Consultations and estimates are FREE.</strong></p> 
 
<p>
       <strong> Special introductory rate for new clients: </strong>

        <br>Free consult, estimate, and half off hourly rate for the first hour.<br>
 
        Student rate: $10 off standard hourly rate for students with valid ID.<br>
 

      Email info@betterstatisticalconsulting.com for more information.</p>

  

    </div>
    <div id="footer" class="images fluid prefooter"> 
<p class="parag"><strong>



Danielle K. Dur&aacute;n, M.S.</strong><br>

 

<a href="mailto:info@betterstatisticalconsulting.com">info@betterstatisticalconsulting.com</a><br>

<br />
Downtown Albuquerque, NM<br> 

Albuquerque, NM 87120<br>
<br />

<a href="https://www.facebook.com/BetterStatisticalConsulting" target="_blank"  title="Facebook">
BetterStatisticalConsulting.com<br /> </a>
    <br />
    <a href="https://www.facebook.com/BetterStatisticalConsulting" target="_blank" class="fa fa-facebook" title="Facebook">
        Like us on Facebook <br /> </a>
        <br />
</p>

</div><!--end fluid prefooter-->   

 

          <footer id="copyright" class="fluid content-footer">    
<h6> 
 
  Copyright &copy; 2018 Better Statistical Consulting. All Rights Reserved.
 
      <script type="text/javascript">

 



            </script> </h6>
    </footer> 


</div>

                    </div>

                </section>

            </div>

        </div>

   

        </div>
 
    </div>

<!-- common libraries. required for every page-->

<script src="lib/jquery/dist/jquery.min.js"></script> 

<script src="lib/bootstrap-sass/assets/javascripts/bootstrap.min.js"></script>

<script src="lib/widgster/widgster.js"></script>

<script src="lib/underscore/underscore.js"></script> 

<!-- common application js -->

<script src="js/app.js"></script>

<script src="js/settings.js"></script> 

<!-- common templates -->

<script type="text/template" id="settings-template">

    <div class="setting clearfix">

        <div>Sidebar on the</div>

        <div id="sidebar-toggle" class="pull-left btn-group" data-toggle="buttons-radio">

            <% onRight = sidebar == 'right'%>

            <button type="button" data-value="left" class="btn btn-sm btn-default <%= onRight? '' : 'active' %>">Left</button>

            <button type="button" data-value="right" class="btn btn-sm btn-default <%= onRight? 'active' : '' %>">Right</button>

        </div>

    </div>

    <div class="setting clearfix">

        <div>Sidebar</div>

        <div id="display-sidebar-toggle" class="pull-left btn-group" data-toggle="buttons-radio">

            <% display = displaySidebar%>

            <button type="button" data-value="true" class="btn btn-sm btn-default <%= display? 'active' : '' %>">Show</button>

            <button type="button" data-value="false" class="btn btn-sm btn-default <%= display? '' : 'active' %>">Hide</button>

        </div>

    </div>

<div class="setting clearfix">

    

    </div>

</script>



<script type="text/template" id="sidebar-settings-template">

    <% auto = sidebarState == 'auto'%>

    <% if (auto) {%>

    <button type="button"

            data-value="icons"

            class="btn-icons btn btn-transparent btn-sm">Icons</button>

    <button type="button"

            data-value="auto"

            class="btn-auto btn btn-transparent btn-sm">Auto</button>

    <%} else {%>

    <button type="button"

            data-value="auto"

            class="btn btn-transparent btn-sm">Auto</button>

    <% } %>

</script>



    <!-- page specific scripts -->

        <!-- page libs -->

        <script src="lib/slimScroll/jquery.slimscroll.min.js"></script>

        <script src="lib/jquery.sparkline/index.js"></script>


 

    <!--  <script src="lib/d3/d3.min.js"></script>

      <script src="lib/nvd3/build/nv.d3.min.js"></script>

    -->

        <!-- page application js -->

        <script src="js/index.js"></script>

        <script src="js/chat.js"></script>



        <!-- page template -->

        <script type="text/template" id="message-template">

            <div class="sender pull-left">

                <div class="icon">

                    <img src="img/2.png" class="img-circle" alt="">

                </div>

                <div class="time">

                    just now

                </div>

            </div>

            <div class="chat-message-body">

                <span class="arrow"></span>

                <div class="sender"><a href="#">Tikhon Laninga</a></div>

                <div class="text">

                    <%- text %>

                </div>

            </div>

        </script>





</body>

</html>