body { font: 12px Arial;
      background:lightcyan;
    }

path {
  stroke: green;
  stroke-width: 2;
  fill: none;
}

.axis path,
.axis line {
  fill: none;
  stroke: darkblue;
  stroke-width: 1;
  shape-rendering: crispEdges;
}
