
<nav id="rightmenu" class="rightmenu col-md-2 d-none d-md-block bg-light sidebar">
  <div class=" nav flex-column rightnav sidebar-sticky">
    <div class="  list-group">
      <a href="dice/index.html" class="list-group-item list-group-item-action">JAVASCRIPT DICE GAME</a> 
      <a href="codeplayer.html" class="hidden list-group-item list-group-item-action">JAVASCRIPT CODER</a>
      <a href="dist/docs/d3/globe_interact.html" class="list-group-item list-group-item-action"> INTERACTIVE WORLD CUP MAP </a>
      <a href="dag-dagre/index.html" class="list-group-item list-group-item-action"> DIRECTED ACYCLIC GRAPH TOOL &nbsp; DAG &nbsp;</a> 
    <h3>{{$ctrl.greeting}} </h3> 
    <a  ng-click="$ctrl.toggleGreeting()"class=" list-group-item list-group-item-action com btn btn-primary">

      <h4>ourdailytech &nbsp; blog</h4>
    </a> 
        <hr>
    <a href="http://ourdailytech.net" class=" list-group-item list-group-item-action com btn btn-primary">

      <h4>www.ourdailytech.net</h4>
    </a> 
  </div>
  </div>
</nav>

 


<div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
  <link rel="stylesheet" type="text/css" href="dist/css/styles.css" />
  <div id="bars" class="panel-body  map0 map-img">

    <script src="dist/js/bars.js"> 
    </script>
  </div>
</div>
