<div id="tmm"<h3>{{$ctrl.greeting}} Solar System!</h3> 
 <button ng-click="$ctrl.toggleGreeting()">toggle greeting</button></div> 
 <nav id="rightmenu" class="rightmenu col-md-2 d-none d-md-block bg-light sidebar">
    <div class=" nav flex-column rightnav sidebar-sticky">
      <div class="  list-group">
        <a href="dice/index.html" class="list-group-item list-group-item-action">JAVASCRIPT DICE GAME</a>
        <a href="dag-dagre/index.html" class="list-group-item list-group-item-action">DIRECTED ACYCLIC GRAPH JSON-MAKER</a>
        <a href="codeplayer.html" class="hidden list-group-item list-group-item-action">JAVASCRIPT CODER</a>
        <a href="dist/docs/d3/globe_interact.html" class="list-group-item list-group-item-action"> INTERACTIVE WORLD CUP MAP </a>
        <a href="tmm_demo/index.html" class="  list-group-item list-group-item-action"> DASHBOARD DEMO </a>
      </div>

    </div> 
</nav>
<div class="section-b">

    <div class="container">

      <div class="row">

        <div class="col-md-6">

          <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">

            <div class="panel panel-default">

              <div class="panel-heading" role="tab" id="headingOne">

                <h4 class="panel-title">

                  <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">

                  </a>

                </h4>

              </div>

              <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">

                <link rel="stylesheet" type="text/css" href="dist/css/styles.css" />
                <div id="bars" class="panel-body  map0 map-img">


                  <script src="dist/js/bars.js">


                  </script>
                </div>


              </div>

            </div>

            <div class="panel panel-default hidden">

              <div class="panel-heading" role="tab" id="headingTwo">

                <h4 class="panel-title">

                  <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#a-collapseTwo" aria-expanded="false"
                    aria-controls="collapseTwo">



                  </a>

                </h4>


              </div>

              <div id="a-collapseTwo" class="panel-collapse collapse " role="tabpanel" aria-labelledby="headingTwo">

                <div class="panel-body">

                  <div aria-hidden="true" aria-labelledby="userModal" class="modal fade" id="userModal" role="dialog" tabindex="-1">
                    <div class="modal-dialog">
                      <div class="modal-content">
                        <div class="modal-header">
                          <button aria-hidden="true" class="close" data-dismiss="modal" type="button"></button>

                          <footer class="text-center">`
                            <div class="container">
                              <div class="row">
                                <div class="col-xs-12">
                                  <p>Copyright &copy; 2018 All Rights Reserved. &nbsp; | &nbsp;
                                    <a href="http://www.thomasmaestas.net/profile.html#contactme" title="Contact Information: thomasmaestas.net/">
                                      Contact Thomas </a>&nbsp; | &nbsp;
                                    <img src="dist/img/paypal.PNG" alt="PayPal Emblem" height="15" />
                                    <a href="https://www.paypal.com/paypalme/ThomasMaestas" style="color:white;text-decoration:none;">
                                      &nbsp; TECH Blog Support Very Appreciated!</a>

                                  </p>
                                </div>
                              </div>
                            </div>
                          </footer>

                          <div class="modal-body p-0">
                            <div class="modal-body-scroller">
                              <ul class="media-list media-list-users list-group">
                              </ul>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                </div>
              </div>
            </div>

            <div class="panel panel-default hidden">
              <div class="panel-heading" role="tab" id="headingThree">
                <h4 class="panel-title">
                  <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#a-collapseThree" aria-expanded="false"
                    aria-controls="collapseThree">
                    C
                  </a>

                </h4>

              </div>

              <div id="a-collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">

                <div class="panel-body">

                </div>

              </div>

            </div>

          </div>

        </div>



        <div class="col-md-6a" left>
          <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
            <div class="panel panel-default">
              <div class="panel-heading" role="tab" id="headingOne">
                <h4 id="blog" class="title dailytech panel-title">
                  <span aria-expanded="true" aria-controls="collapseOne">
                    OUR DAILY TECH BLOG
                  </span>
                </h4>
              </div>
              <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                <div class="panel-body">

                  <div class="mod-behave ">
                 <div id="top"></div> 
            <!--      <post-list></post-list>
                  <div ng-controller="PostListController"></div>
            -->
                       <div id="paragraph-july"></div>
                    <div id="paragraph-june"></div>

                    <div id="paragraph-may"></div>
                    <div id="paragraph-apr"></div>
                    <div id="paragraph-mar"></div>
                    <div id="paragraph-feb"></div>
          
                  </div>
                </div>
              </div>
            </div>

            <div class="panel panel-default  hidden  ">
              <div class="panel-heading" role="tab" id="bheadingTwo">
                <h4 class=" dailytech panel-title">
                  <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#bcollapseTwo" aria-expanded="false"
                    aria-controls="collapseTwo">
                    READING MODAL
                  </a>
                </h4>
              </div>
              <div id="bcollapseTwo" class="    panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                <div class="panel-body">
                  <div class="mod-behave ">
                    <div id="top"></div>

                    <div aria-hidden="true" aria-labelledby="userModal" class="modal fade" id="userModal" role="dialog" tabindex="-1">
                      <div class="modal-dialog">
                        <div class="modal-content">
                          <div class="modal-header">
                            <button aria-hidden="true" class="close" data-dismiss="modal" type="button"></button>

                            <footer class="text-center">`
                              <div class="container">
                                <div class="row">
                                  <div class="col-xs-12">
                                    <p>Copyright &copy; 2018 All Rights Reserved. &nbsp; | &nbsp;
                                      <a href="http://www.thomasmaestas.net/profile.html#contactme" title="Contact Information: thomasmaestas.net/">
                                        Contact Thomas </a>&nbsp; | &nbsp;
                                      <img src="dist/img/paypal.PNG" alt="PayPal Emblem" height="15" />
                                      <a href="https://www.paypal.com/paypalme/ThomasMaestas" style="color:white;text-decoration:none;">
                                        &nbsp; TECH Blog Support Very Appreciated!</a>

                                    </p>
                                  </div>
                                </div>
                              </div>
                            </footer>


                          </div>
                        </div>
                      </div>
                    </div>



                  </div>
                </div>
              </div>
            </div>
            <div class="panel panel-default   ">
              <div class="panel-heading" role="tab" id="bheadingThree">
                <h4 class=" dailytech panel-title">
                  <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#bcollapseThree" aria-expanded="false"
                    aria-controls="collapseThree">
                    JavaScript Calculator
                  </a>
                </h4>
              </div>
              <div id="bcollapseThree" class="  panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                <div class="panel-body">

                  <div id="form"></div>
                  <script src="dist/js/calc.js"></script>
                </div>
              </div>
            </div>
          </div>
        </div> 
      </div>

    </div>

  </div>