<h3>{{$ctrl.greeting}} Solar System!</h3>
<button ng-click="$ctrl.toggleGreeting()">toggle </button>
 
<nav id="rightmenu" class="rightmenu col-md-2 d-none d-md-block bg-light sidebar">
  <div class=" nav flex-column rightnav sidebar-sticky">
    <div class="  list-group">
      <a href="dice/index.html" class="list-group-item list-group-item-action">JAVASCRIPT DICE GAME</a> 
      <a href="codeplayer.html" class="hidden list-group-item list-group-item-action">JAVASCRIPT CODER</a>
      <a href="dist/docs/d3/globe_interact.html" class="list-group-item list-group-item-action"> INTERACTIVE WORLD CUP MAP </a>
      <a href="tmm_demo/index.html" class="  list-group-item list-group-item-action"> DASHBOARD DEMO </a>  
      <a href="bsc/index.html" class="list-group-item list-group-item-action">1-PAGE WEB-APP</a>

      <a href="dag-dagre/index.html" class="list-group-item list-group-item-action">DAG DIRECTED ACYCLIC GRAPH TOOL</a>

    </div>

  </div>
</nav>

 


<div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
  <link rel="stylesheet" type="text/css" href="dist/css/styles.css" />
  <div id="bars" class="panel-body  map0 map-img">

    <script src="dist/js/bars.js"> 
    </script>
  </div>
</div>
