
#container {
	width:800px;
	height:3200px;
	background:azure;
	margin-left:auto;
	margin-right:auto;
	padding:20px;
	border-style:inset;
	border-width:5px;
	border-color:azure;
}
#header {
	border-style:outset;
	border-width:4px;
	border-color:azure;
	background-color:skyblue;
	padding:10px;
	margin-bottom:10px;
}
 .links {
	background:beige;
	font-family:sans-serif;
	width:195px;
	float:left;
	padding-bottom:10px;
	border-style:outset;
	border-width:4px;
	border-color:brown;
}
.links a { 
	text-decoration:none;
}
.links  a:hover 
{ 
	background-color:chocolate;
	color:lightblue;
}
.links li 
	{
	float:left;
	display:block;
	margin-left:-20px;
	margin-right:auto;
	list-style-type:none;
	margin-top:4px;
	padding-left:4px;
	padding-top:2px;
	width:140px;
	text-decoration:none;
	height:20px;
	border-style:inset;
	border-width:4px;
	border-color:brown;
}
.links  li:hover 
{ 
	background-color:chocolate;
	color:lightblue;
}
.assignments {
	background-color:lightblue;
	font-family:sans-serif;
	width:400px;
	float:right;
	border-style:outset;
	border-width:4px;
	border-color:blue;
}
.assignments li 
{
	float:left;
	background-color:white;
	display:block;
	width:350px;
	margin-left:-20px;
	margin-bottom:5px;
	padding:4px;
	border-style:inset;
	border-width:4px;
	border-color:blue;
	
}
.assignments li:hover {
	background-color:silver;
}
.assignments a {
	text-decoration:none;
}