@charset "utf-8";
#head {
	font-size: 28px;
	color: #9D4245;
	background-color: #B8B8B8;
	border: thin solid #707070;
	margin-bottom: 25px;
	text-align: center;
	border-top-left-radius: 30px;
	border-top-right-radius: 30px;
	padding-right: 20px;
	padding-bottom: 20px;
	padding-left: 20px;
	height: 100px;
	font-weight: 400;
	font-style: normal;
	font-family: annie-use-your-telescope;
}
body {
	background-color: #DBDBDB;
}
.menu {
	font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", serif;
	font-size: 14px;
	color: #963133;
	background-color: #B1B1B1;
	list-style-image: none;
	list-style-type: none;
	width: 133px;
	padding-top: 12px;
	padding-right: 12px;
	padding-bottom: 12px;
	padding-left: 12px;
	text-transform: none;
	text-decoration: none;
}
.menu {
	border-width: thin;
	border-right-style: solid;
	border-color: #5E5E5E;
	border-left-style: solid;
	text-decoration: none;
}
#first {
	border-top-right-radius: 27px;
	border-top-style: solid;
	border-color: #636363;
}
#last {
	border-bottom-style: solid;
	border-color: #575656;
	border-bottom-left-radius: 25px;
}
.menu hover {
	background-color: #CCCCCC;
}
.menu:hover {
	background-color: #D3D3D3;
	background-image: -webkit-linear-gradient(270deg,rgba(176,76,76,0.84) 0%,rgba(174,71,72,0.21) 23.83%,rgba(179,69,71,0.20) 43.52%,rgba(172,68,70,0.63) 68.39%,rgba(165,67,69,0.84) 92.75%,rgba(164,67,69,0.89) 94.30%);
	background-image: -moz-linear-gradient(270deg,rgba(176,76,76,0.84) 0%,rgba(174,71,72,0.21) 23.83%,rgba(179,69,71,0.20) 43.52%,rgba(172,68,70,0.63) 68.39%,rgba(165,67,69,0.84) 92.75%,rgba(164,67,69,0.89) 94.30%);
	background-image: -o-linear-gradient(270deg,rgba(176,76,76,0.84) 0%,rgba(174,71,72,0.21) 23.83%,rgba(179,69,71,0.20) 43.52%,rgba(172,68,70,0.63) 68.39%,rgba(165,67,69,0.84) 92.75%,rgba(164,67,69,0.89) 94.30%);
	background-image: linear-gradient(180deg,rgba(176,76,76,0.84) 0%,rgba(174,71,72,0.21) 23.83%,rgba(179,69,71,0.20) 43.52%,rgba(172,68,70,0.63) 68.39%,rgba(165,67,69,0.84) 92.75%,rgba(164,67,69,0.89) 94.30%);
	color: #494949;
	text-decoration: none;
	font-style: normal;
}
#first a {
}
.menu a {
	text-decoration: none;
	color: #981F21;
	font-family: annie-use-your-telescope;
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
}
#head {
	line-height: 0.7em;
}
.links {
	background-color: #7E64A3;
	font-family: annie-use-your-telescope;
	width: 125px;
	float: right;
	padding-bottom: 10px;
	border-style: outset;
	border-width: 4px;
	border-color: brown;
	font-style: normal;
	font-weight: 400;
	color: #EFEFEF;
}
#rightmenu {
	background-image: "assets/TMM_lg.PNG"
}
.links a {
	text-decoration: none;
	color: #D3D3D3;
}
.links  a:hover 
{
	color: #FFFFFF;
}
.links li 
	{
	float: left;
	display: block;
	margin-left: -37px;
	margin-right: auto;
	list-style-type: none;
	padding-left: 9px;
	width: 104px;
	text-decoration: none;
	height: 20px;
	border: 4px inset #CF3C3C;
	margin-top: 3px;
}
.links  li:hover 
{
	background-color: #A6A6A6;
}
.container {
	width: 800px;
	margin-right: auto;
	margin-left: auto;
	background-image: -webkit-linear-gradient(359deg,rgba(207,207,207,1.00) 0%,rgba(255,253,253,1.00) 46.63%,rgba(196,196,196,1.00) 100%);
	background-image: -moz-linear-gradient(359deg,rgba(207,207,207,1.00) 0%,rgba(255,253,253,1.00) 46.63%,rgba(196,196,196,1.00) 100%);
	background-image: -o-linear-gradient(359deg,rgba(207,207,207,1.00) 0%,rgba(255,253,253,1.00) 46.63%,rgba(196,196,196,1.00) 100%);
	background-image: linear-gradient(91deg,rgba(207,207,207,1.00) 0%,rgba(255,253,253,1.00) 46.63%,rgba(196,196,196,1.00) 100%);
}
.links ul li {
}
.menu2 {
	font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", serif;
	font-size: 14px;
	color: #963133;
	background-color: #B1B1B1;
	list-style-image: none;
	list-style-type: none;
	width: 133px;
	padding-top: 12px;
	padding-right: 12px;
	padding-bottom: 12px;
	padding-left: 12px;
	text-transform: none;
	text-decoration: none;
	float: right;
	height: 25px;
}
.menu2 {
	border-width: thin;
	border-right-style: solid;
	border-color: #5E5E5E;
	border-left-style: solid;
	text-decoration: none;
}
#first2 {
	border-top-style: solid;
	border-color: #636363;
	border-top-left-radius: 27px;
}
#last2 {
	border-bottom-style: solid;
	border-color: #575656;
	border-bottom-right-radius: 25px;
}
.menu2 hover {
	background-color: #CCCCCC;
}
.menu2:hover {
	background-color: #D3D3D3;
	background-image: -webkit-linear-gradient(270deg,rgba(176,76,76,0.84) 0%,rgba(174,71,72,0.21) 23.83%,rgba(179,69,71,0.20) 43.52%,rgba(172,68,70,0.63) 68.39%,rgba(165,67,69,0.84) 92.75%,rgba(164,67,69,0.89) 94.30%);
	background-image: -moz-linear-gradient(270deg,rgba(176,76,76,0.84) 0%,rgba(174,71,72,0.21) 23.83%,rgba(179,69,71,0.20) 43.52%,rgba(172,68,70,0.63) 68.39%,rgba(165,67,69,0.84) 92.75%,rgba(164,67,69,0.89) 94.30%);
	background-image: -o-linear-gradient(270deg,rgba(176,76,76,0.84) 0%,rgba(174,71,72,0.21) 23.83%,rgba(179,69,71,0.20) 43.52%,rgba(172,68,70,0.63) 68.39%,rgba(165,67,69,0.84) 92.75%,rgba(164,67,69,0.89) 94.30%);
	background-image: linear-gradient(180deg,rgba(176,76,76,0.84) 0%,rgba(174,71,72,0.21) 23.83%,rgba(179,69,71,0.20) 43.52%,rgba(172,68,70,0.63) 68.39%,rgba(165,67,69,0.84) 92.75%,rgba(164,67,69,0.89) 94.30%);
	color: #494949;
	text-decoration: none;
	font-style: normal;
}
#first2 a {
}
.menu2 a {
	text-decoration: none;
	color: #981F21;
	font-family: annie-use-your-telescope;
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
}
.container #rightmenu {
	width: 200px;
	float: right;
}
.container #center {
	width:300px;
	float:right;
	color:white;
	font-family:"courier new", courier, monospace;
	font-size:small;
}
#containerP {
	width: 820px;
	margin-right: auto;
	margin-left: auto;
	border-width: thin;
	border-color: #972B2C;
}
#containerP img {
	margin-top: 15px;
	margin-right: 15px;
	margin-bottom: 15px;
	margin-left: 15px;
	border-style: solid;
	border-color: #8E2A2C;
}
