nav {display:table-cell; width: 300px; padding:10px;
background:blue;
color:white;}
nav li {list-style-type:none;
height:30px;
margin-left:-40px;
padding-left:10px;
color:blue;
background:white;}
article {display:table-cell; padding:10px 20px; 
background:white;}
aside {display:table-cell; width:300px; padding:10px;
background:red;}
