
  <title>TMM | Home</title>
  <div class="col-md-10 col-lg-10 col-md-offset-1 col-lg-offset-1">

    <h1>{{ home.message }}</h1>

    <h3>Number of sensors listed:  {{ home.schoolCount }}</h3>
    <h3>Number of subsensors listed:  {{ home.classroomCount }}</h3>
    <h3>Number of supersensors listed:  {{ home.activityCount }}</h3>

    <button ng-click="home.refresh()" class="btn btn-primary">Refresh</button>

</div>
<div>
    <p> 
    <br />
    FIREBASE
    https://ourdailytechdata.firebaseapp.com/ // Daily Tech Blog Finished
    https://tm-host.firebaseapp.com/ // TMM Firebase Starter
    <br />
    <br />
    AWS
    http://abq-aws-thomas-maestas.s3-website-us-east-1.amazonaws.com // TMM Finished
    https://s3.amazonaws.com/tmm-nov/index.html // TMM Draft
    <br />
    <br />

    ENDPOINTS
    https://s3.amazonaws.com/tmm-nov/posts/april.json // DB Endpoints
    # RDS
    sensor-instance.caq9hvksjohf.us-east-1.rds.amazonaws.com
    </p>
</div> 