<h4>

    D3-JS Chloropleth Map</h4>

<style>
    .counties {
        fill: none;
    }

    .states {
        fill: none;
        stroke: #fff;
        stroke-linejoin: round;
    }

    svg#ssvg {
        min-width: 1000px;
        min-height: 600px;
    }

    .side-nav {
        float: right;
        position: absolute;
        top: 150px;
        left: 85%;
        min-width: 135px;
        max-width: 135px;
    }

    .external,
    #globe {
        display: none;
    }
</style>

<!-- <div ng-include="'app/templates/geomap.html'" width="400" height="400"></div> -->
<h4>Unemployment Rate by County</h4>

<svg id="ssvg"></svg>
<div ng-include="'app/templates/home-nav.html'" class="side-nav"></div>



<script>
</script>