<style>
#template-source, #container, #container2 { 
  width:45%;
  margin:4px auto;
  padding:10px;
  border-radius:23px;
  z-index:110;
  background-color: rgba(123,23,22,.5)
}
svg {
  display:none;
}
#dataMVVM input {
  padding:2px;
  margin:2px;
  border-radius:14px;
  position:relative;
  left:20px;
  width:140px;
}
#dataMVVM {
  width:90%;
  margin:4px auto;
}
</style>


	 <div id="dataMVVM">
<div id="template-source"></div> 

		<script type="text/x-kendo-template" id="template-target">
			<h4>#= listName #</h4>
			<ul>
	        # for (var i = 0; i < cars.length; i++) { #
	            <li>#= cars[i]["year"] # #= cars[i]["make "] # - #= cars[i]["model"] #</li>
	        # } #
	        </ul>
		</script>

		<script type="text/javascript">
			$(document).ready(function() { 
				var data = {
					listName: "x-kendo-template",
					cars: [
						{year: 2012, make: "first-entry", model: "Italia"},
						{year: 2010, make: "second-entry", model: "Gallarda"}
					]
				}; 
				var carsTemplate = kendo.template($("#template-target").html())(data);
				$("#template-source").html(carsTemplate);

			});
		</script>


<div class="container">

  	<div id="container">
			<input data-bind="value: make" data-value-update="keyup"/><br/>
			<span data-bind="visible: messageIsVisible ">
				<label data-bind="text: make"></label> .... container updated
			</span><br/>
			<input type="button" data-bind="click: showMessage" value="console log"/>
		</div>

		<script type="text/javascript">

			$(document).ready(function() {
				
				var viewModel = kendo.observable({
					make: "Inbox",
					messageIsVisible: function() {
						return this.get("make").length != 0;
					},
					showMessage: function() {
						var make = this.get("make");
						console.log(make + "'s update");
					}
				}); 
			    kendo.bind($("#container"),viewModel);

			}); 
		</script>
</div>
		 
<div class="container2">

		<div id="container2">
    <h5>Validation</h5>
			<label for="year">Year </label>&nbsp;&nbsp;&nbsp;
			<input id="year" type="number" name="year" required min="2000" max="2015"/>
			<br/>
			<label for="make">Make </label>&nbsp;
			<input id="make"type="text" name="make" required/>
			<br/>
			<label for="model">Model </label>
			<input id="model" type="text" name="model" required/>
			<br/>
			<input id="save" type="submit" value="console-save"/>
		</div>

		<script type="text/javascript">

			$(document).ready(function(){

				var validator = $("#container2").kendoValidator({
					rules: {
						noKia: function(input) {
							if (input.is("[name=make]")){
								return input.val().toLowerCase() != "kia"; 
							}
							return true;	
						}
					},
					messages: {noKia: "Kia?  Seriously?  I don't think so."}
				}).data("kendoValidator");
				
				$("#save").on("click", function() {
					if (validator.validate()) {
						console.log('Golden  !')
					}
				});

			});

		</script>
  
      <div ng-include="'app/templates/home-nav.html'" class="side-nav"></div>
      
		</div> 