<style>
  div.footer {
    border:solid 1px white;
    background-color:rgba(0, 0, 139, 0.623) !important;
  }
  div#sub-footer {
    margin-left:45%;
  }
  .img-center {
    margin-left:auto;
    margin-right:auto;
    padding:5px 43% 5px 50%;
  }
</style>
  <div   class="footer">
    <div class="row">

      <h5> <img src="dist/img/aws-certified-logo_color-horz_180x30.png" alt="aws-certification-logo" /> </h5>

   <h5>
          <a href="mailto:thomas.maestas@bitcointracker.net" title="Contact Information: thomas.maestas@bitcointracker.net">
            CONTACT  </a>    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span>Copyright &copy; 2016, 2019 All Rights Reserved. </span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <a ui-sref="register" ui-sref-active="active"> ADMIN-LOGIN </a>
            <li><a href="http://blog.ourdailytech.net" target="_blank"><small>OurDailyTech Blog</small></a></li>
          </h5>
          <div>
          <h5></h5></div>
    </div>
  </div>
