<title>TMM | Home</title>
<!-- <link rel="stylesheet" href="dist/css/iris.css" /> -->
<!-- <script src="dist/js/d3/d3v4.min.js"></script> -->
<style>
    .map {
        z-index: 0;
        display: block;
    }
    
    #welcome {
        position: absolute;
        top: 120px;
        left: 40px;
        color: darkblue;
    }
    
    canvas {
        border: none;
        margin: 50px 0px 0px 0px;
    }
    
    #hypercube-options {
        margin: 0px 0 0 20px;
    }
    
    .hyper {
        text-align: left;
        margin: 0 40px;
        color: rgb(0, 0, 139);
        font-family: Roboto;
    }
    
    a.hyper {
        font-size: 1.7rem;
    }
    
    label {
        margin: 0 20px;
        font-size: 17px;
        cursor: pointer;
        color: rgb(0, 0, 139);
        font-family: Roboto;
    }
</style>

<div id="welcome">
    <h3>Personal site of Thomas Milton Maestas, id est, I'm Tom, Welcome.</h3>
</div>
<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.5/d3.min.js"></script> -->

<canvas id="octaplex-canvas"></canvas>
<h3 class="hyper">4th-dimensional model controller</h3>
<a class="hyper" href="http://paulbourke.net/geometry/hyperspace/?fbclid=IwAR1hv0ffL_mPkQuUORxY1NOnhCEQj5NZJDq6ycGBztPcOzwoVG8ebVwJJwo" target="_blank"><em>HyperSpace   Manual</em></a>
<br />
<hr>
<form id="hypercube-options">
    <label><input type="checkbox" name="rotate_xy" />Rotate xy</label>
    <label><input type="checkbox" name="rotate_yz" />Rotate yz</label>
    <label><input type="checkbox" name="rotate_xz" />Rotate xz</label>
    <label><input type="checkbox" name="rotate_xw" />Rotate xw</label>
    <label><input type="checkbox" name="rotate_yw" />Rotate yw</label>
    <label><input type="checkbox" name="rotate_zw" />Rotate zw</label>
</form>
<script type="text/javascript">
    d3.text("data/600cell.ascii", function(err, text) {
        var data = Hypersolid.parseVEF(text);

        function NewShape() {};

        Hypersolid.NewShape = function() {
            return new NewShape();
        };

        NewShape.prototype = Hypersolid.Shape(data[0], data[1], data[2]);

        var octaplex = Hypersolid.NewShape();
        var octaplexView = Hypersolid.Viewport(octaplex, document.getElementById('octaplex-canvas'), {
            width: 440,
            height: 440,
            scale: 2.5,
            lineWidth: 2,
            lineJoin: 'round'
        });
        octaplexView.draw();

        // animation
        options = document.getElementById('hypercube-options');

        function render() {
            if (options) {
                checkboxes = options.getElementsByTagName('input');
            }
            if (options.rotate_xz.checked) {
                rotate("xz", 0.008);
            }
            if (options.rotate_yz.checked) {
                rotate("yz", 0.008);
            }
            if (options.rotate_xw.checked) {
                rotate("xw", 0.008);
            }
            if (options.rotate_yw.checked) {
                rotate("yw", 0.008);
            }
            if (options.rotate_xy.checked) {
                rotate("xy", 0.008);
            }
            if (options.rotate_zw.checked) {
                rotate("zw", 0.008);
            }
        };

        function rotate(plane, x) {
            octaplex.rotate(plane, x);
            octaplexView.draw();
        };

        window.requestAnimFrame = window.requestAnimationFrame ||
            window.webkitRequestAnimationFrame ||
            window.mozRequestAnimationFrame ||
            window.oRequestAnimationFrame ||
            window.msRequestAnimationFrame ||
            function(callback) {
                window.setTimeout(callback, 1000 / 60);
            };

        (function animloop() {
            requestAnimFrame(animloop);
            render();
        })();
    });
</script>

<!--



-->
<div id="home">




    <!-- <div ng-include="'app/templates/home-nav.html'" class="side-nav"></div> -->


    <script type="text/javascript">
        function draw(geo_data) {
            "use strict";

            var margin = 175,
                width = 1920 - margin,
                height = 1000 - margin;

            var svg = d3.select(".map")
                .append("svg")
                .attr("width", width + margin)
                .attr("height", height + margin)
                .attr("overflow-x", "hidden")
                .append('g')
                .attr('class', 'map')
                .style('z-index', '0');

            var projection = d3.geo.mercator()
                .scale(170)
                .translate([width / 3.3, height / 1.6]);

            var path = d3.geo.path().projection(projection);

            var map = svg.selectAll('path')
                .data(geo_data.features);

            map.enter()
                .append('path')
                .attr('d', path)
                .style('fill', 'rgba(29,29,171,.4')
                .style('stroke-width', 0.4)
                .style('stroke', "darkblue")
            map.exit();
        };
    </script>

    <script type="text/javascript">
        d3.json("data/world_countries.json", draw);
    </script>

</div>