<title>TMM | Home</title> 
<link rel="stylesheet" href="dist/css/iris.css" />
<script src="dist/js/d3/d3v4.min.js"></script> 
<style>
.d3 {
  min-height:390px;
  background-color:transparent; 
  border:inset 2px blue; 
  display:none;
  position:absolute;
  top:180px;
}
.one, .two, .three, .four, .five, .six, .seven {
  float:left;
  width:600px;
  margin:10px;
  border: solid 1px blue;   
} 
.six * {margin-top:440px;
} 
pre {
  max-height:500px;
}
pre#pre {
  background:url('dist/img/bluechipTileT8.png');
    margin:0;
    padding:0;
    color:aliceblue;  
} 
pre#pre  a {
  color:yellow;
}
span.paper {
    background: url('dist/img/bluechipTile.jpg');
}
  svg {
            border: 1px solid black;
        }
    
        circle {
            fill: #dc143c;
        }
        button {
        color:white;
    background: url('dist/img/bluechipTile.jpg');
          margin:3px;
          border-radius:10px; 
          min-height:50px;
        }
      button:hover {
        color:darkblue;
    background: url('dist/img/bluechipTileT8.png');
      }
.blue {
  font-family:'Roboto'; 
  color:darkblue;
}
.map {
  z-index:0;
  display:block;
}
#btns {
  position:absolute;
  top:130px;
  left:10px;
}

    ul {
        list-style-type:none;
        padding:0;
    }
    ul li {
        padding:5px;
        margin:5px;
    } 
    a.white {
      color:white;
    }
</style>

<div id="home">
<div id="btns">

  <button class="datum" id="one">data<br />source</button>
  <button  class="datum" id="two">data<br />flux</button>
  <!--
<button id="three">three</button>
<button id="four">data transition</button>
-->
  <button class="datum"  id="five">data<br />transform</button>
  <button  class="datum" id="six"> data<br />generation</button>
  <button class="datum" id="zero"><br />clear</button>
  </div>
  <div ng-include="'app/templates/home-nav.html'" class="side-nav"></div>

  <div class="charts">
    <span class="paper">
        <p class="zero"  ></p> 
    </span>
    <div class="d3 one"></div> 
    <svg class="d3 two " width="563" height="350"></svg>
    <div class="d3 four">  </div> 
    <div class="d3 five">   </div>
    <div class="d3 six">  </div>
    <div class="d3 seven">  </div>
  </div> 

  <script type="text/javascript">
    function draw(geo_data) {
      "use strict";
  
      var margin = 175,
        width = 1920 - margin,
        height = 980 - margin;
  
      var svg = d3.select(".map")
        .append("svg")
        .attr("width", width + margin)
        .attr("height", height + margin)
        .append('g')
        .attr('class', 'map')
        .style('z-index','0');
  
      var projection = d3.geo.mercator()
        .scale(200)
        .translate([width / 2.7, height / 1.9]);
  
      var path = d3.geo.path().projection(projection);
  
      var map = svg.selectAll('path')
        .data(geo_data.features);
        
        map.enter()
        .append('path')
        .attr('d', path)
        .style('fill', 'rgba(0,0,231,.4')
        .style('stroke-width', 0.3)
        map.exit();
    };
  
  </script>
  
  <script type="text/javascript">
  d3.json("data/world_countries.json", draw);
  </script>
  <!-- <div class="svgHolder" id="force"></div> -->

<!-- 
  <div id="d3banner"></div>
  <div id="js"></div>
  <div id="css"></div>
  <script type="text/javascript" >
  var bodyElem = d3.select('#d3banner'),
    jsElem = d3.select('#js'),
    jsPanel = bodyElem.append('div').attr('id', 'jsPanel')
      .style('opacity','.5')
      .style('transform','translateY(49px)')
      .style('width','300px');
    cssElem = d3.select('#css'),
    cssPanel = bodyElem.append('div').attr('id', 'cssPanel')
      .style('opacity','.7')
      .style('transform','translateY(90px)')
      .style('width','300px');

function setupPanel(panel, elem, title) {
  panel.append('h3').text(title);
  return panel.append('pre').append('code').text(elem.html().trim());
}
var welcome = 'Welcome'
var jsCode = setupPanel(jsPanel, jsElem, welcome);
var cssCode = setupPanel(cssPanel, cssElem, 'Thomas M Maestas');

bodyElem.append('link')
  .attr('rel', 'stylesheet')
  .attr('href', '/dist/css/xcode.min.css') // hljsRoot + '/styles/xcode.min.css');
bodyElem.append('script')
  .attr('src', '/dist/js/vendor/highlight.min.js') // hljsRoot + '/highlight.min.js')
  .on('load', function() {
    hljs.highlightBlock(jsCode.node());
    hljs.highlightBlock(cssCode.node());
  });
  
// var hljsRoot = 'https://cdnjs.csloudflare.com/ajax/libs/highlight.js/8.1';
  </script> -->
 
</div>
<div class="links" id="portfolio"> 
    <pre id="pre"> 
    <h4>Coding Portfolio, Thomas Maestas:<br /> Front-End Applications and Cloud-Based Services</h4>
    <h4>ReactJS + S3:</h4>   
      <a href="http://dailytech-react.s3-website-us-east-1.amazonaws.com/" target="_blank">http://dailytech-react.s3-website-us-east-1.amazonaws.com/</a> 
      <a href="http://tmm-react.s3-website-us-east-1.amazonaws.com" target="_blank">http://tmm-react.s3-website-us-east-1.amazonaws.com</a>  
      <h4>Angular-7 Data App:</h4> 
      <a href="http://tm-angular-7.s3-website-us-east-1.amazonaws.com" target="_blank">http://tm-angular-7.s3-website-us-east-1.amazonaws.com</a>     
      <h4>AngularJS + Route 53:</h4> 
      <a href="http://dailytechfilter.net" target="_blank">http://dailytechfilter.net aliasing http://daily-filter.s3-website-us-east-1.amazonaws.com</a>  
      <a href="http://our-daily-tech.s3-website-us-east-1.amazonaws.com" target="_blank">http://our-daily-tech.s3-website-us-east-1.amazonaws.com</a> 
  
    <h4>Route 53 + S3 using API Gateway:<br />Lambda GET Method</h4>
      <a href="http://thomasmilton.net" target="_blank">http://thomasmilton.net 
      https://o8fasqpzp4.execute-api.us-east-1.amazonaws.com/prod/thomasMiltonFunction</a>
    <h4>Google Cloud Firestore</h4>
      Firestore Serverless Functions
      <a href="https://ourdailytechdata.firebaseapp.com" target="_blank">https://ourdailytechdata.firebaseapp.com</a>
      Firebase Hosting 
      <a href="https://tm-host.firebaseapp.com" target="_blank">https://tm-host.firebaseapp.com</a>  
    <h4>AWS Cloud & Serverless</h4>
      Cognito Authentication Lambda + API Gateway
      <a href="http://abq-aws-thomas-maestas.s3-website-us-east-1.amazonaws.com/register.html" target="_blank">http://abq-aws-thomas-maestas.s3-website-us-east-1.amazonaws.com/register.html</a>  
    <h4> AWS Relational Database Service (RDS) + S3  DATABASE ENDPOINTS</h4>
      AWS S3 Static NoSQL Storage
      <a href="https://s3.amazonaws.com/tmm-nov/posts/april.json" target="_blank">https://s3.amazonaws.com/tmm-nov/posts/april.json</a>
      Amazon RDS Relational PostgreSQL Database 
      <a  >sensor-instance.caq9hvksjohf.us-east-1.rds.amazonaws.com</a> 
    <h4>S3 Static Hosting </h4>
      <a href="http://abq-aws-thomas-maestas.s3-website-us-east-1.amazonaws.com" target="_blank">http://abq-aws-thomas-maestas.s3-website-us-east-1.amazonaws.com</a> 
      <br /><br />
      <br /><br />  
    </pre>
      </div>