<title>TMM | Home</title> 
<link rel="stylesheet" href="dist/css/iris.css" />
<script src="dist/js/d3/d3v4.min.js"></script> 
<style>
  .charts { 
  min-height:80px; 
}
.d3 {
  min-height:390px;
  background-color:transparent; 
  border:inset 2px blue; 
  display:none;
  position:absolute;
  top:180px;
}
.one, .two, .three, .four, .five, .six, .seven {
  float:left;
  width:600px;
  margin:10px;
  border: solid 1px blue;   
} 
.six * {margin-top:440px;
}
.links {
    max-width:500px;  
    float:right;
    position:absolute;
    top:600px;
    margin:10px;
} 
pre#pre {
  background:url('dist/img/bluechipTileT8.png');
    margin:0;
    padding:0;
    color:aliceblue;  
} 
pre#pre  a {
  color:yellow;
}
span.paper {
    background: url('dist/img/bluechipTile.jpg');
}
  svg {
            border: 1px solid black;
        }
    
        circle {
            fill: #dc143c;
        }
        button {
        color:white;
    background: url('dist/img/bluechipTile.jpg');
          margin:3px;
          border-radius:10px; 
          min-height:50px;
        }
      button:hover {
        color:darkblue;
    background: url('dist/img/bluechipTileT8.png');
      }
</style>

<div id="home">

  <div ng-include="'app/templates/home-nav.html'" class="side-nav"></div>

  <button class="datum" id="one">data source</button>
  <button  class="datum" id="two">data flux</button>
  <!--
<button id="three">three</button>
<button id="four">data transition</button>
-->
  <button class="datum"  id="five">data transform</button>
  <button  class="datum" id="six"> data generation</button>
  <button class="datum" id="zero">clear</button>

  <div class="charts">
    <span class="paper"><p class="zero"  > 
    <div class="d3 one"></div>
    
    <svg class="d3 two " width="563" height="350"></svg>
    <div class="d3 four">  </div> 
    <div class="d3 five">   </div>
    <div class="d3 six">  </div>
    <div class="d3 seven">  </div>
  </div> 

  <div class="svgHolder" id="force"></div>


  <div id="d3banner"></div>
  <div id="js"></div>
  <div id="css"></div>
  <script type="text/javascript" >
  var bodyElem = d3.select('#d3banner'),
    jsElem = d3.select('#js'),
    jsPanel = bodyElem.append('div').attr('id', 'jsPanel')
      .style('opacity','.5')
      .style('transform','translateY(49px)')
      .style('width','300px');
    cssElem = d3.select('#css'),
    cssPanel = bodyElem.append('div').attr('id', 'cssPanel')
      .style('opacity','.7')
      .style('transform','translateY(90px)')
      .style('width','300px');

function setupPanel(panel, elem, title) {
  panel.append('h3').text(title);
  return panel.append('pre').append('code').text(elem.html().trim());
}
var welcome = 'Welcome'
var jsCode = setupPanel(jsPanel, jsElem, welcome);
var cssCode = setupPanel(cssPanel, cssElem, 'Thomas M Maestas');

bodyElem.append('link')
  .attr('rel', 'stylesheet')
  .attr('href', '/dist/css/xcode.min.css') // hljsRoot + '/styles/xcode.min.css');
bodyElem.append('script')
  .attr('src', '/dist/js/vendor/highlight.min.js') // hljsRoot + '/highlight.min.js')
  .on('load', function() {
    hljs.highlightBlock(jsCode.node());
    hljs.highlightBlock(cssCode.node());
  });
  
// var hljsRoot = 'https://cdnjs.csloudflare.com/ajax/libs/highlight.js/8.1';
  </script>
  <div class="links">
<pre id="pre">

  GOOGLE CLOUD FIRESTORE  
    Firestore Serverless Functions
    <a href="https://ourdailytechdata.firebaseapp.com" target="_blank">https://ourdailytechdata.firebaseapp.com</a>
    Firebase Hosting 
    <a href="https://tm-host.firebaseapp.com" target="_blank">https://tm-host.firebaseapp.com</a> 
    
  AWS CLOUD & SERVERLESS
    Cognito Authentication Lambda + API Gateway
    <a href="http://abq-aws-thomas-maestas.s3-website-us-east-1.amazonaws.com/register.html" target="_blank">http://abq-aws-thomas-maestas.s3-website-us-east-1.amazonaws.com/register.html</a> 
    React + S3:     
    <a href="http://tmm-react.s3-website-us-east-1.amazonaws.com/" target="_blank">http://tmm-react.s3-website-us-east-1.amazonaws.com</a> 
    Route 53 + S3 using API Gateway: Lambda GET Method
    <a href="http://thomasmilton.net" target="_blank">http://thomasmilton.net 
    https://o8fasqpzp4.execute-api.us-east-1.amazonaws.com/prod/thomasMiltonFunction</a>
    AngularJS + Route 53: 
    <a href="http://dailytechfilter.net" target="_blank">http://dailytechfilter.net aliasing http://daily-filter.s3-website-us-east-1.amazonaws.com</a> 
    Angular: 
    <a href="http://our-daily-tech.s3-website-us-east-1.amazonaws.com" target="_blank">http://our-daily-tech.s3-website-us-east-1.amazonaws.com</a> 

  AMAZON RDS + S3  DATABASE ENDPOINTS 
    AWS S3 Static NoSQL Storage
    <a href="https://s3.amazonaws.com/tmm-nov/posts/april.json" target="_blank">https://s3.amazonaws.com/tmm-nov/posts/april.json</a>
    Amazon RDS Relational PostgreSQL Database 
    <a  >sensor-instance.caq9hvksjohf.us-east-1.rds.amazonaws.com</a> 
    S3 Static Hosting 
    <a href="http://abq-aws-thomas-maestas.s3-website-us-east-1.amazonaws.com" target="_blank">http://abq-aws-thomas-maestas.s3-website-us-east-1.amazonaws.com</a> 
    <br /><br />
    <br /><br />  
</pre>
  </div>
</div>
