<title>TMM | Profile</title>
<style>
  pre h4 {
    padding: 0px;
    margin: 0px 0px -10px;
  }
</style>

<link rel="stylesheet" href="dist/css/profile.min.css" />

<div class="container">

  <div style="background:transparent" class="row mediat-row">

    <div class="col-xs-6" id="skills-wrap">

      <div id="skills" class="media mediat skills">
        <h4 class="banner" id="skills-title">Thomas M. Maestas </h4>
        <p>I specialize in Java, Python, and JavaScript web & microservice technologies, spanning the application development life-cycle from
          Proof-of-Concept to General Audience Release. My professional experience includes AWS and Google Cloud tech, <span class="tog" id="tog-button" onclick="tog()"> more ...</span><span
            id="tog-paragraph"></span>
        </p>
        <h6 class="capitalize ">
          <span class="glyphicon glyphicon-link" aria-hidden="true"> </span>
          <a href="http://blog.ourdailytech.net" target="_blank"> &nbsp;Daily Tech Blog</a>
        </h6>
      </div>
      <script>
        var togButton = document.querySelector("#tog-button")
        var togParagraph = document.querySelector('#tog-paragraph');
        var skillsParagraph = document.querySelector('#skills');
        var skillsTitle = document.querySelector('#skills-title');
        var togState = false;
        togButton.style.color = "yellow";
        togButton.style.cursor = "pointer";

        function tog() {
          togState = !togState;
          if (togState) {
            togParagraph.textContent = ` including serverless apps and database tech.</p><p>My data-app focus includes  Angular 10, React, and Flask (Python) along with any Linux-Apache-MySQL-Python stack. In sum, I'm a team player whether Linux Bash or DOS, I learn fast and I work with passion.`;
            togButton.innerHTML = "<button>hide</button> ";
            togButton.style.color = "orange";
            skillsParagraph.style.overflowY = "scroll";

            skillsParagraph.style.maxHeight = "234px";
          } else {
            togParagraph.textContent = ''; // TOGGLE OPEN
            togButton.textContent = "more  ... ";
            togButton.style.color = "yellow";
            skillsTitle.style.display = "block";
          }
        };
      </script>
    </div>

    <div class="col-xs-6  mediat  " style="text-align:left !important;padding-left:2px;padding-right:2px;margin-bottom:-10px">
      <div style="background:transparent;margin-bottom:-10px" class="row ">
        <div style="background:transparent;" class="col-lg-6 mediac media    ">
          <h4 class="banner">Contact Information
          </h4>
          <h6 class="  lowercase">
            <span class="glyphicon glyphicon-envelope" aria-hidden="true"> </span>
            <a target="_blank" href="mailto:thomasm1.maestas@gmail.com"> &nbsp;thomasm1.maestas@gmail.com</a>
          </h6>
          <h6 class=" two  lowercase">
            <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>
            <a target="_blank" href="mailto:tmaestas@armchairbitcoinist.com"> &nbsp;tmaestas@armchairbitcoinist.com</a>
          </h6>

          <h6 class="  lowercase">
            <span class="glyphicon glyphicon-screenshot" aria-hidden="true"></span>
            <a target="_blank" href="https://www.linkedin.com/in/thomasmaestas/">
              &nbsp;linkedin.com/in/thomasmaestas/</a>
          </h6>
          <h6 class="two capitalize lowercase">
            <span   class="glyphicon glyphicon-screenshot" aria-hidden="true"> </span>
            <a target="_blank" href="https://github.com/thomasm1"> &nbsp;GitHub/thomasm1</a>
          </h6>
          <h6 class="capitalize lowercase">
            <span class="glyphicon glyphicon-download" aria-hidden="true"> </span>
            <a target="_blank" href="dist/docs/CV_2020_MaestasThomas.pdf"> &nbsp;2020 Resume</a>
          </h6>
        </div>
      </div>
    </div>
  </div>

  <div class="row media-left  mediat-row">
    <div class="row top-row">

<!--
      <div class="mediat col col-sm-4 ">
        <h4 class="banner text-center">Certifications</h4> -->


      <div class="mediat col col-sm-4 ">
        <h4 class="banner text-center">Education</h4>
        <div style="background:transparent" class="row ">
          <h5>
            <span class=" label label-default">MA, Quantitative Sociology</span>
          </h5>
          <h5>University of New Mexico</h5>
          <!-- <div class="col-xs-10">
          </div> -->

          <h5>
            <span class="b label label-default">BA, History (Cum laude)</span>
          </h5>
          <h5>University of New Mexico</h5>
          <!-- <div class="col-xs-2">
          </div> -->
        </div>
        <div class="multi_drop_menu">
          <ul>
            <li style="display:block;">
              <a ui-sref="profile" class="pro white" id="acad">
               Academic Portfolio </a>
              <ul>
                <li>
                  <a href="https://thomasmaestas.net/dist/docs/CVacademicEN_ThomasMaestas.pdf" target="_blank">Academic
                    CV</a>
                </li>
                <li>
                  <a href="https://thomasmaestas.net/dist/docs/CVacademicFR_ThomasMaestas.pdf"
                    target="_blank">CV-français</a>
                </li>
                <li>
                  <a target="_blank" href="dist/docs/CV_2020_MaestasThomas.pdf">Technical CV</a>
                </li>
                <li>
                  <a class=" ">
                    <span>Academic<br />Presentations</span>
                  </a>
                  <ul>
                    <li>
                      <a href="http://tinyurl.com/gmtj4v4" target="_blank" style="width:350px;">
                        <span>
                          <em>
                            <strong>
                              "Great Expectations Deferred: Contextualizing Community College Transfer Intentions"
                              <br />
                            </strong>
                          </em>
                        </span>2016 ASA-American Sociological Conference
                        <br />@Seattle, WA</a>
                    </li>
                    <li>
                      <a href="http://tinyurl.com/pcq6mjx" target="_blank" style="width:350px;">
                        <span>
                          <i>
                            <strong>"The Effects of Peer Association on Adolescents' Graduation Outcomes: An HLM
                              Approach"
                              <br />
                            </strong>
                          </i>
                        </span>2015 ASA Conference
                        <br />@Chicago, Illinois</a>
                    </li>
                    <li>
                      <a href="http://www.cpc.unc.edu/projects/addhealth/events/20140613AddHealthUsersConferenceAbstracts.pdf"
                        target="_blank" style="width:350px;">
                        <span>
                          <em>
                            <strong>
                              "Great Expectations: A Study on the Determinants of College Graduation Expectations"
                              <br />
                            </strong>
                          </em>
                          2014 National Institutes of Health/UNC Adolescent Health Data Users Conference
                          <br /> @Bethesda, Maryland
                        </span>
                      </a>
                    </li>
                  </ul>
                </li>
                <li>
                  <a href="http://hdl.handle.net/1928/31677" target="_blank">Education Thesis</a>
                </li>
                <li>
                  <a href="https://thomasmaestas.net/dist/docs/DataPresentADD_health_networks.pdf"
                    target="_blank">Education Data Analysis R-LaTeX</a>
                </li>
                <li>
                  <a href="https://thomasmaestas.net/dist/docs/edregression.htm" target="_blank">Education Data Analysis
                    SPSS-24</a>
                </li>
              </ul>
            </li>
          </ul>
        </div>
        <br />
        <br />
            <h5>
            <span class=" label label-default"><a href="https://app.revature.com/profile/ThomasMaestas/a050faeb5f9e22503e7ddf040b12ac79" target="_blank" class="white">Full-Stack Java Bootcamp</a></span>
          </h5>
          <h6>REVATURE</h6>
        <h5>
            <span class=" label label-default"><a href="https://s3.amazonaws.com/thomasmaestas.net/dist/docs/CertificateTFI_840.pdf" target="_blank" class="white">Test Fran&ccedil;ais International</a></span>
          </h5>
          <h6>TOEIC </h6>

      </div>


      <div class="mediat col col-sm-4 ">
        <h4 class="banner text-center">Certifications</h4>

        <div style="background:transparent" class="row ">
          <h6>
            <span class="  label label-default"><a
                href="https://s3.amazonaws.com/thomasmaestas.net/dist/docs/AWSCertifiedSysOpsAdministratorAssociateCertificate_TMaestas.pdf" class="white" target="_blank"
                title="AWS Solutions Architect Associate Certificate: Score 828/1000">AWS SysOps Administrator <small>828 / 1000</small></a></span>
          </h6>
          <h5>Amazon Web Services</h5>

          <div class="col-xs-10">
          </div>
          <h6>
            <span class="  label label-default"><a
                href="https://s3.amazonaws.com/thomasmaestas.net/dist/docs/LinuxProfessionalInstituteLinuxEssentialsExam010.pdf" class="white" target="_blank"
                title="LPI Linux Essentials Certificate: Score 730/800">LPI Linux Essentials <small>730 / 800</small></a></span>
          </h6>
          <h5>Linux Professional Institute</h5>

          <div class="col-xs-10">
          </div>

          <h6>
            <span class="  label label-default"><a
                href="https://s3.amazonaws.com/thomasmaestas.net/dist/docs/AWSCertifiedSolutionsArchitectAssociateCertificate_TMaestas.pdf" class="white" target="_blank"
                title="AWS Solutions Architect Associate Certificate: Score 861/1000">AWS Solutions Architect <small>861 / 1000</small></a></span>
          </h6>
          <h5>Amazon Web Services</h5>

          <div class="col-xs-10">
          </div>
          <h5>
            <span class="b label label-default"><a href="https://thomasmaestas.net/dist/docs/AWSDeveloperAssociateCertificate_TMaestas.pdf"
              target="_blank" class="white"  title="AWS Developer Associate Certificate">AWS Developer Associate</a></span>
          </h5>
          <h5>Amazon Web Services</a></h5>
          <div class="col-xs-2">
          </div>


        </div>



        <h4 class="banner text-center">Data Visualization </h4>
        <div class="progress">
          <small>
            <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="80" aria-valuemin="0"
              aria-valuemax="100" style="width: 80%">
              JavaScript: <a target="_blank" href="http://tmm-world-cup.s3-website-us-east-1.amazonaws.com/">D3</a>,
              NVD3 </div>
          </small>

        </div>
        <div class="progress">
          <small>
            <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="80" aria-valuemin="0"
              aria-valuemax="100" style="width: 80%"><a href="https://thomasmaestas.net/dist/docs/IKM-Exam_Python3.pdf"
                target="_blank" title="IKM Exam: Python3 Proficiency, 2019">Python</a>: Plot.ly/Matplotlib</div>
          </small>

        </div>
        <small>
          <div class="progress">
            <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="60" aria-valuemin="0"
              aria-valuemax="100" style="width: 70%">
              <li>
                <a href="https://thomasmaestas.net/dist/docs/ADAHighSchoolNetworks.html" target="_blank"
                  title="DEMO LINK:  Education Data Analysis, using R-Studio">R: R-Studio ggplot2</a>
              </li>
            </div>
          </div>
        </small>

        <div class="progress">
          <small>
            <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="60" aria-valuemin="0"
              aria-valuemax="100" style=" width: 60%">
              <a href="https://public.tableau.com/profile/thomas.milton.maestas" target="_blank"
                title="DEMO LINK:  CO2 Environment Data Analysis, using Tableau">Tableau</a>
            </div>
          </small>

        </div>
      </div>

      <div class="mediat col col-sm-4   ">
        <h4 class="text-center banner">App &amp; Web Dev </h4>
        <div class="progress">
          <small>
            <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="95" aria-valuemin="0"
              aria-valuemax="100" style="width: 85%">

              <a href="https://thomasmaestas.net/dist/docs/IKM-Exam_Angular2.pdf" target="_blank"
                title="IKM Exam: Angular Proficiency, 2019">Angular, </a>
              <a target="_blank" href="https://thomasmaestas.net/dist/docs/IKM-Exam_React_React-Native.pdf"
                title="IKM Exam: React Proficiency, 2019">React</a>
            </div>
          </small>
        </div>

        <div class="progress">

          <small>
            <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="90" aria-valuemin="0"
              aria-valuemax="100" style="width: 80%">JavaScript, TypeScript</div>
          </small>
        </div>
        <div class="progress">

          <small>
            <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="90" aria-valuemin="0"
              aria-valuemax="100" style="width:78%"><a
                href="https://app.revature.com/profile/ThomasMaestas/a050faeb5f9e22503e7ddf040b12ac79" target="_blank"
                title="AWS Developer Associate Certificate">Java SDK; Spring Boot, Maven</a>
            </div>
          </small>
        </div>
        <div class="progress">
          <small>
            <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="83" aria-valuemin="0"
              aria-valuemax="100" style="width:75%">End-2-End, Unit Testing</div>
          </small>
        </div>
        <div class="progress">
          <small>
            <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="80" aria-valuemin="0"
              aria-valuemax="100" style="width: 70%">NodeJS,
              <a href="https://thomasmaestas.net/dist/docs/IKM-Exam_Python3.pdf" target="_blank"
                title="IKM Exam: Python3 Proficiency, 2019">Python</a></div>
          </small>
        </div>
        <div class="progress">
          <small>
            <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="75" aria-valuemin="0"
              aria-valuemax="100" style="width:65%">Oracle, PostgreSQL</div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-11">
        <div class="links" id="portfolio">
          <h3 class="banner">Coding Portfolio</h3>
          <h4 class="banner sub">Front-End Applications &amp; Cloud-Based Services</h4>
          <pre id="pre">

<h4> JavaScript Calculator and Data Retriever App </h4>
 <a href="http://btc-calculator.s3-website-us-east-1.amazonaws.com/" target="_blank"> Bitcoin-Calculator (output in developer console)</a>

<h4> Angular 8, Google Cloud DB &amp; Authentication, with SSL </h4>
 <a href="https://armchairbitcoinist.com" target="_blank"> Bitcoin &amp; Altcoin Analysis App</a>
<!--
<h4> Bitcoin Data Retriever </h4>
 AWS API-Gateway &amp; Lambda Serverless DB
 <a href="https://thomasmilton.net" target="_blank">thomasmilton.net</a> -->
<h4> Python, Flask, SQL DB and Authentication  </h4>
 <a href="https://armchair-bitcoinist.herokuapp.com/home" target="_blank"> Armchair Bitcoinist Organizer and Calculator App</a>

<h4> React Front-End, Serverless DynamoDB backend </h4>
 <a href="https://bitcointracker.net" target="_blank"> React-coin-tracker</a>
  Create-Read-Update-Delete App using AWS Lambda API Gateway-DynamoDB:
 <a href="http://dailytech-react.s3-website-us-east-1.amazonaws.com/" target="_blank"> Dailytech-React</a>
  Authenticated routing, forms, &amp; Data API:

<h4> Angular 6 data filter <applet></applet></h4>
 <a href="https://thomasmilton.net" target="_blank"> CRUD data control, form validation, Angular animation </a>

<h4> AngularJS 1.5 Blog app with AWS Route 53 DNS:</h4>
  Data filtering, routing, modals, and XML-Http method API calls
 <a href="https://dailytechfilter.net" target="_blank"> Dailytechfilter.net </a>

<h4> Google Cloud Firestore Serverless App</h4>
 <a href="https://bitcoinbuyer-ce650.firebaseapp.com/" target="_blank"> Non-relational database, Serverless data functions, and Google Authentication</a>

<h4>  AngularJS and Vanilla JavaScript Apps</h4>
  Data API
 <a href="http://tmm.net.s3-website-us-east-1.amazonaws.com" target="_blank" class=" "> OMDb Film Search  &nbsp; </a>

  Directed Acyclic Graph Tool converted to downloadable JSON
 <a href="http://tmm-dag.s3-website-us-east-1.amazonaws.com"  target="_blank"  class=" "> DAG to JSON Editor Tool &nbsp; </a>

  Web Browser Editor
 <a href="http://abq-aws-thomas-maestas.s3-website-us-east-1.amazonaws.com/#/codePlayer"  target="_blank"  class=" "> JavaScript/HTML/CSS  Editor Tool     </a>

  Vanilla JavaScript
<a href="http://dice-match-tmm-aws.s3-website-us-east-1.amazonaws.com/" target="_blank"  class=" ">  Dice Game  </a>

<h4> AWS Data Service</h4>
 <a href="https://s3.amazonaws.com/tmm-nov/posts/april.json" target="_blank"> AWS S3 Static Data API</a>

   Amazon RDS PostgreSQL Relational Database Endpoints
 <a  > sensor-instance.caq9hvksjohf.us-east-1.rds.amazonaws.com</a>

      </pre>
        </div>
      </div>
      <div class="col-xs-1">
        <button class="btn btn-primary pull-right" style="margin:5px -15px 5px 0px"
          ng-click="demos=demos===true?false:true">Maps</button>
        <nav ng-show="demos" id="rightmenu" class="rightmenu col-md-2 d-none d-md-block bg-light sidebar">

          <div class="nav flex-column rightnav sidebar-sticky home-nav">
            <div class="  list-group"> <br />
              <span class="blue">&nbsp;TMM Demos&nbsp;</span> <br />
              <a ui-sref="planets" ui-sref-active="active"
                class="yellow  list-group-item list-group-item-action">Dynamic
                JavaScript</a>
              <a ui-sref="dataMVVM" ui-sref-active="active">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a>
              <br /><br /><br />

              <span class="blue">&nbsp;Geo Maps&nbsp;</span> <br />
              <a href="https://public.tableau.com/profile/thomas.milton.maestas" target="_blank"
                class="yellow  list-group-item list-group-item-action">Tableau DataViz&nbsp;<img class="external-link"
                  width="18px" src="dist/img/external.png" /></a>

              <a ui-sref="chlor" ui-sref-active="active"
                class="yellow  list-group-item list-group-item-action">Unemployment Chloropleth</a>

              <!-- <a ui-sref="ownership" ui-sref-active="active"
                class="yellow  list-group-item list-group-item-action">Home-Ownership</a> -->

              <a href="http://tmm-world-cup.s3-website-us-east-1.amazonaws.com/" target="_blank"
                class="yellow  list-group-item list-group-item-action">Interactive Map&nbsp;<img class="external-link"
                  width="18px" src="dist/img/external.png" /></a>
              <!-- <a ui-sref="dendro" ui-sref-active="active" class="hidden yellow  list-group-item list-group-item-action">Static Data</a> -->
              <!-- <a ui-sref="dataMVVM" ui-sref-active="active">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a> -->
              <br /><br /><br />
              <div class="external">

                <a href="http://tmm-react.s3-website-us-east-1.amazonaws.com" target="_blank"
                  class="yellow  list-group-item list-group-item-action">React Redux &nbsp;<img class="external-link"
                    width="18px" src="dist/img/external.png" /></a>


                <a href="http://abq-aws-thomas-maestas.s3-website-us-east-1.amazonaws.com/register.html" target="_blank"
                  class="yellow  list-group-item list-group-item-action">AWS Cognito<br />Authentication Lambda
                  &nbsp;<img class="external-link" width="18px" src="dist/img/external.png" /></a>
                <a href="http://abq-aws-thomas-maestas.s3-website-us-east-1.amazonaws.com" target="_blank"
                  class="list-group-item list-group-item-action">
                  AWS S3 Hosting<img class="external-link" width="18px" src="dist/img/external.png" /></a>
                <br /> <br /><span class="blue">&nbsp;Blog&nbsp;</span>
                <a href="https://ourdailytech.net" target="_blank"
                  class="yellow  list-group-item list-group-item-action">
                  Our_Daily_Tech_Blog &nbsp;<img class="external-link" width="18px" src="dist/img/external.png" /><br />
                </a>
              </div>
            </div>
        </nav>

      </div>
    </div>

  </div>
