<title>TMM | Profile</title>

<link rel="stylesheet" href="dist/css/profile.css" />
<style>
  .links-urls {
    background-color: rgb(186, 215, 238) !important;
    color: rgb(7, 7, 95);
    font-weight: bold;
  }
</style>
<div class="container">

  <div style="background:transparent" class="row mediat-row">

    <div class="col-xs-6" id="skills-wrap">

      <div id="skills" class="media mediat skills">
        <h4 class="banner" id="skills-title">Thomas M. Maestas </h4>
        <p>I specialize in Java, Python, and JavaScript web & microservice technologies, spanning the application
          development life-cycle from
          Proof-of-Concept to General Audience Release. My professional experience includes AWS and Google Cloud tech,
          <span class="tog" id="tog-button" onclick="tog()"> more ...</span><span id="tog-paragraph"></span>
        </p>
        <h6 class="capitalize ">
          <span class="glyphicon glyphicon-link" aria-hidden="true"> </span>
          <a id="blog2" href="https://ourdailytech.net" target="_blank"> &nbsp;Daily Tech Blog</a>
        </h6>
      </div>
      <script>
        var togButton = document.querySelector("#tog-button")
        var togParagraph = document.querySelector('#tog-paragraph');
        var skillsParagraph = document.querySelector('#skills');
        var skillsTitle = document.querySelector('#skills-title');
        var togState = false;
        togButton.style.color = "yellow";
        togButton.style.cursor = "pointer";

        function tog() {
          togState = !togState;
          if (togState) {
            togParagraph.textContent = ` including serverless apps and database tech.</p><p>My data-app focus includes  Angular 10, React, and Flask (Python) along with any Linux-Apache-MySQL-Python stack. In sum, I'm a team player whether Linux Bash or DOS, I learn fast and I work with passion.`;
            togButton.innerHTML = "<button>hide</button> ";
            togButton.style.color = "orange";
            skillsParagraph.style.overflowY = "scroll";

            skillsParagraph.style.maxHeight = "234px";
          } else {
            togParagraph.textContent = ''; // TOGGLE OPEN
            togButton.textContent = "more  ... ";
            togButton.style.color = "yellow";
            skillsTitle.style.display = "block";
          }
        };
      </script>
    </div>

    <div class="col-xs-6  mediat  " style="text-align:left;padding-left:2px;padding-right:2px;margin-bottom:-10px">
      <div style="background:transparent;margin-bottom:-10px" class="row ">
        <div style="background:transparent;" class="col-lg-6 mediac media    ">
          <h4 class="banner">Contact Information
          </h4>
          <h6 class="  lowercase">
            <span class="glyphicon glyphicon-envelope" aria-hidden="true"> </span>
            <a target="_blank" href="mailto:thomas1.maestas@gmail.com"> &nbsp;thomas1.maestas@gmail.com</a>
          </h6>
          <h6 class=" two  lowercase">
            <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>
            <a target="_blank" href="mailto:thomas.maestas@hotmail.com"> &nbsp;thomas.maestas@hotmail.com</a>
          </h6>

          <h6 class="  lowercase">
            <span class="glyphicon glyphicon-screenshot" aria-hidden="true"></span>
            <a target="_blank" href="https://www.linkedin.com/in/thomasmaestas/">
              &nbsp;linkedin.com/in/thomasmaestas/</a>
          </h6>
          <h6 class="two capitalize lowercase">
            <span class="glyphicon glyphicon-screenshot" aria-hidden="true"> </span>
            <a target="_blank" href="https://github.com/thomasm1"> &nbsp;GitHub/thomasm1</a>
          </h6>
          <h6 class="capitalize lowercase">
            <span class="glyphicon glyphicon-download" aria-hidden="true"> </span>
            <a target="_blank" href="https://thomasmaestas.net/dist/docs/cv_2025_Maestas-Thomas.pdf">
              &nbsp;2025 Resume</a>
          </h6>
        </div>
      </div>
    </div>
  </div>

  <div class="row media-left  mediat-row">
    <div class="row top-row">

      <!--
      <div class="mediat col col-sm-4 ">
        <h4 class="banner text-center">Certifications</h4> -->


      <div class="mediat col col-sm-4 ">
        <h4 class="banner text-center">Education</h4>
        <div style="background:transparent" class="row ">
          <h5>
            <span class=" label label-default">MA, Quantitative Sociology</span>
          </h5>
          <h5>University of New Mexico</h5>
          <!-- <div class="col-xs-10">
          </div> -->

          <h5>
            <span class="b label label-default">BA, History (Cum laude)</span>
          </h5>
          <h5>University of New Mexico</h5>
          <!-- <div class="col-xs-2">
          </div> -->
        </div>
        <div class="multi_drop_menu">
          <ul>
            <li style="display:block;">
              <a ui-sref="profile" class="pro white" id="acad">
                Academic Portfolio </a>
              <ul>
                <li>
                  <a href="https://thomasmaestas.net/dist/docs/CVacademicEN_ThomasMaestas.pdf" target="_blank">Academic
                    CV</a>
                </li>
                <li>
                  <a href="https://thomasmaestas.net/dist/docs/CVacademicFR_ThomasMaestas.pdf"
                    target="_blank">CV-français</a>
                </li>
                <li>
                  <a target="_blank" href="https://thomasmaestas.net/dist/docs/cv_2025_Maestas-Thomas.pdf">Technical CV</a>
                </li>
                <li>
                  <a class=" ">
                    <span>Academic<br />Presentations</span>
                  </a>
                  <ul>
                    <li>
                      <a href="http://tinyurl.com/gmtj4v4" target="_blank" style="width:350px;">
                        <span>
                          <em>
                            <strong>
                              "Great Expectations Deferred: Contextualizing Community College Transfer Intentions"
                              <br />
                            </strong>
                          </em>
                        </span>2016 ASA-American Sociological Conference
                        <br />@Seattle, WA</a>
                    </li>
                    <li>
                      <a href="http://tinyurl.com/pcq6mjx" target="_blank" style="width:350px;">
                        <span>
                          <i>
                            <strong>"The Effects of Peer Association on Adolescents' Graduation Outcomes: An HLM
                              Approach"
                              <br />
                            </strong>
                          </i>
                        </span>2015 ASA Conference
                        <br />@Chicago, Illinois</a>
                    </li>
                    <!--http://hscmediasite.unm.edu/unm/Catalog-->
                    <li>
                      <a href="#" target="_blank" style="width:350px;">
                        <span>
                          <strong>
                            <em>
                              "Social Determinants of Healthy Aging"
                              <br />
                            </em>
                          </strong>
                        </span>2015 UNM Health Sciences Institute for Ethics Colloquium
                        <br />@Albuquerque, NM</a>
                    </li>
                    <li>
                      <a href="http://www.cpc.unc.edu/projects/addhealth/events/20140613AddHealthUsersConferenceAbstracts.pdf"
                        target="_blank" style="width:350px;">
                        <span>
                          <em>
                            <strong>
                              "Great Expectations: A Study on the Determinants of College Graduation Expectations"
                              <br />
                            </strong>
                          </em>
                          2014 National Institutes of Health/UNC Adolescent Health Data Users Conference
                          <br /> @Bethesda, Maryland
                        </span>
                      </a>
                    </li>
                  </ul>
                </li>
                <li>
                  <a href="http://hdl.handle.net/1928/31677" target="_blank">Education Thesis</a>
                </li>
                <li>
                  <a href="https://thomasmaestas.net/dist/docs/DataPresentADD_health_networks.pdf"
                    target="_blank">Education Data Analysis R-LaTeX</a>
                </li>
                <li>
                  <a href="https://thomasmaestas.net/dist/docs/edregression.htm" target="_blank">Education Data Analysis
                    SPSS-24</a>
                </li>
              </ul>
            </li>
          </ul>
        </div>
        <br />
        <br />
        <h5>
          <span class=" label label-default"><a
              href="https://app.revature.com/profile/ThomasMaestas/a050faeb5f9e22503e7ddf040b12ac79" target="_blank"
              class="white">Revature Full-Stack Java/SQL Bootcamp</a></span>
        </h5>
 
        <h5>
          <span class=" label label-default"><a
              href="https://s3.amazonaws.com/thomasmaestas.net/dist/docs/CertificateTFI_840.pdf" target="_blank"
              class="white">Test Fran&ccedil;ais International (TOEIC)</a></span>
        </h5>
 

      </div>


      <div class="mediat col col-sm-4 ">
        <h4 class="banner text-center">Certifications</h4>

        <h5>Amazon Web Services </h5>

        <div style="background:transparent" class="row ">
          
          <h5>
            <span class="  label label-default"><a
                href="https://s3.amazonaws.com/thomasmaestas.net/dist/docs/AWS_AI_Practitioner.jpg"
                class="white" target="_blank" title="AWS A.I. Practitioner Certificate: Score 828/1000">AWS A.I. Practitioner<small><span style="color:white;"> 813 / 1000</span></small></a></span>

          </h5>

          <div class="col-xs-10">
          </div>

          <h5>
            <span class="  label label-default"><a
                href="https://s3.amazonaws.com/thomasmaestas.net/dist/docs/AWSCertifiedSysOpsAdministratorAssociateCertificate_TMaestas.pdf"
                class="white" target="_blank" title="AWS Solutions Architect Associate Certificate: Score 828/1000">AWS
                SysOps Administrator <small><span style="color:white;"> 828 / 1000</span></small></a></span>

          </h5>

          <div class="col-xs-10">
          </div>

          <h5>
            <span class="  label label-default"><a
                href="https://s3.amazonaws.com/thomasmaestas.net/dist/docs/AWSCertifiedSolutionsArchitectAssociateCertificate_TMaestas.pdf"
                class="white" target="_blank" title="AWS Solutions Architect Associate Certificate: Score 861/1000">AWS
                Solutions Architect <small><span style="color:white;"> 861 / 1000</span></small></a></span>
          </h5>
          <div class="col-xs-10">
          </div>

          <h5>
            <span class=" label label-default"><a
                href="https://thomasmaestas.net/dist/docs/AWSDeveloperAssociateCertificate_TMaestas.pdf" target="_blank"
                class="white" title="AWS Developer Associate Certificate">AWS Developer Associate <small><span style="color:white;"> 810 /
                  1000</span></small></a></span>
          </h5>
          <div class="col-xs-10">
          </div>
          <h5>Linux Professional Institute</h5>
          <h6>
            <span class="  label label-default"><a
                href="https://s3.amazonaws.com/thomasmaestas.net/dist/docs/LinuxProfessionalInstituteLinuxEssentialsExam010.pdf"
                class="white" target="_blank" title="LPI Linux Essentials Certificate: Score 730/800">LPI Linux
                Essentials <small><span style="color:white;">730 / 800</span></small></a></span>
          </h6>
          <div class="col-xs-10">
          </div>

          <h4 class="text-center banner">Data Visualization Projects</h4>

          <a target="_blank" href="http://tmm-world-cup.s3-website-us-east-1.amazonaws.com/"
            class="yellow links-urls list-group-item list-group-item-action">D3JS - World Cup Animation</a>
          <a href="http://abq-aws-thomas-maestas.s3-website-us-east-1.amazonaws.com/#/chloropleth" target="_blank"
            class="yellow links-urls list-group-item list-group-item-action">Interactive Cloropleth Map&nbsp;<img
              class="external-link" width="18px" src="dist/img/external.png" /></a>
              <a href="http://abq-aws-thomas-maestas.s3-website-us-east-1.amazonaws.com/#/planets" target="_blank"
              class="yellow links-urls list-group-item list-group-item-action">Dynamic Data&nbsp;<img
                class="external-link" width="18px" src="dist/img/external.png" /></a>
              
          <a href="http://tmm-dag.s3-website-us-east-1.amazonaws.com" target="_blank"
            class="yellow links-urls list-group-item list-group-item-action"> Directed Acyclic Graph Tool JSON Editor
            Tool &nbsp;
          </a>
          <a href="https://thomasmaestas.net/dist/docs/ADAHighSchoolNetworks.html" target="_blank"
            title="DEMO LINK:  Education Data Analysis, using R-Studio"
            class="yellow links-urls list-group-item list-group-item-action">R: R-Studio ggplot2</a>
          <a href="https://public.tableau.com/profile/thomas.milton.maestas" target="_blank"
            title="DEMO LINK:  CO2 Environment Data Analysis, using Tableau"
            class="yellow links-urls list-group-item list-group-item-action">Tableau Data Viz</a>
 
          <!-- <h4 class="text-center banner">Language Exam Scores</h4>

          <a href="https://thomasmaestas.net/dist/docs/IKM-Exam_Angular2.pdf" target="_blank"
            title="IKM Exam: Angular Proficiency, 2019"
            class="yellow links-urls list-group-item list-group-item-action">Angular </a>
          <a target="_blank" href="https://thomasmaestas.net/dist/docs/IKM-Exam_React_React-Native.pdf"
            title="IKM Exam: React Proficiency, 2019"
            class="yellow links-urls list-group-item list-group-item-action">React</a>
          <a href="https://thomasmaestas.net/dist/docs/IKM-Exam_Python3.pdf" target="_blank"
            title="IKM Exam: Python3 Proficiency, 2019"
            class="yellow links-urls list-group-item list-group-item-action">Python</a>
          <a href="https://app.revature.com/profile/ThomasMaestas/a050faeb5f9e22503e7ddf040b12ac79" target="_blank"
            title="AWS Developer Associate Certificate"
            class="yellow links-urls list-group-item list-group-item-action">Java</a>
 -->

        </div>
      </div>

      <div class="mediat col col-sm-4   ">
        <h4 class="text-center banner"
          stlye="background-color: rgb(186, 215, 238);color: rgb(7, 7, 95);font-weight: bold;">Full-Stack API Projects
        </h4>


        <div class="links" id="portfolio">

          <!-- 
    <a href="https://doggywood.dog" target="_blank" class="yellow links-urls list-group-item list-group-item-action"> Full-Stack app that manages clients' and employees' appointments and records   </a>
   <h6> Java Spring Data, Oracle 12 DB, Angular 8 Scheduler App </h6>
  
   <a href="https://commuter.link" target="_blank" class="yellow links-urls list-group-item list-group-item-action"> Location API Car-Sharing App </a>
   <h6> Java Spring Boot, PostgreSQL DB, Angular GPS-enabled App</h6>
  
   <a href="https://hexstat.xyz" target="_blank" class="yellow links-urls list-group-item list-group-item-action"> Bitcoin-Calculator (output in developer console)</a> -->
          <!-- <h6> JavaScript Calculator and Data Retriever App </h6> -->

          <!-- 3. -->
          <a href="http://cryptomaven.xyz" target="_blank"
            class="yellow links-urls list-group-item list-group-item-action">
            CryptoCurrency Balance &amp; NFT LookUp Tool</a>
          <a href="https://armchairbitcoinist.com" target="_blank"
            class="yellow links-urls list-group-item list-group-item-action"> Bitcoin Analysis Google-Cloud DB
            &amp;SSL w/ AWS Cognito Authentication</a>
          <!--
    <a href="https://thomasmilton.net" target="_blank" class="yellow links-urls list-group-item list-group-item-action">AWS API-Gateway &amp; Lambda Serverless</a> -->

          <!-- 
    <a href="https://armchair-bitcoinist.herokuapp.com/home" target="_blank" 
    class="yellow links-urls list-group-item list-group-item-action"> Armchair Bitcoinist Organizer Python-Flask, MySQL DB and Authentication</a> 
    <h6>   </h6>  -->
<!-- 
          <a href="https://bitcointracker.net" target="_blank"
            class="yellow links-urls list-group-item list-group-item-action"> 
            React, AWS Serverless Lambda-DynamoDB coin-tracker</a> -->
          <a href="https://bitcoinbuyer-ce650.firebaseapp.com/" target="_blank"
            class="yellow links-urls list-group-item list-group-item-action">Google Firestore Serverless DB</a>
          <a href="http://dailytech-react.s3-website-us-east-1.amazonaws.com/" target="_blank"
            class="yellow links-urls list-group-item list-group-item-action">React API AWS Lambda API
            Gateway-DynamoDB</a>
          <!-- 
    <a href="https://thomasmilton.net" target="_blank">  Angular data filter control with Material animation </a> 
   <a href="https://dailytechfilter.net" target="_blank"> Dailytechfilter.net </a>  
   -->

          <a href="http://tmm.net.s3-website-us-east-1.amazonaws.com" target="_blank"
            class="yellow links-urls list-group-item list-group-item-action"> OMDb Film Search &nbsp; </a>
          <a href="http://dice-match-tmm-aws.s3-website-us-east-1.amazonaws.com/" target="_blank"
            class="yellow links-urls list-group-item list-group-item-action"> Dice Game </a>
         
          <a href="https://blog.ourdailytech.net" target="_blank"
            class="yellow links-urls list-group-item list-group-item-action">
            Our_Daily_Tech_Blog I. &nbsp;<img class="external-link" width="18px" src="dist/img/external.png" /></a>
          <a href="https://ourdailytech.net" target="_blank"
            class="yellow links-urls list-group-item list-group-item-action">
            Our_Daily_Tech_Blog II. &nbsp;<img class="external-link" width="18px" src="dist/img/external.png" /></a>

            
<!--        
            INTERNAL ONLY
                 
          <a href="http://abq-aws-thomas-maestas.s3-website-us-east-1.amazonaws.com/#/codePlayer" target="_blank"
          class="yellow links-urls list-group-item list-group-item-action"> Web Browser Editor Tool </a>
          <a href="http://abq-aws-thomas-maestas.s3-website-us-east-1.amazonaws.com/register.html" target="_blank"
            class="yellow links-urls list-group-item list-group-item-action">AWS Serverless Auth
            &nbsp;<img class="external-link" width="18px" src="dist/img/external.png" /></a>
            <a href="http://tmm-react.s3-website-us-east-1.amazonaws.com" target="_blank"
              class="yellow links-urls list-group-item list-group-item-action">React Redux &nbsp;<img
                class="external-link" width="18px" src="dist/img/external.png" /></a> -->


        </div>



      </div>
    </div>
    <div class="row">


    </div>

  </div>