
<link href="dist/css/vendor/kendo.default.min.css" rel="stylesheet" type="text/css"/> 
<link href="dist/css/vendor/kendo.common.min.css" rel="stylesheet" type="text/css"/>
<link href="dist/css/vendor/kendo.dataviz.min.css" rel="stylesheet"  />
<link href="dist/css/vendor/kendo.silver.min.css" rel="stylesheet"  />
<link href="dist/css/vendor/kendo.default.min.css" rel="stylesheet"  />

<!--  <link href="dist/css/vendor/kendo.silver.mobile.min.css" rel="stylesheet"  /> 
<link rel="stylesheet" href="app/css/bootstrap.cerulean.min.css" />


-->   

<style>
.rightnav a {
  color:darkblue; 
  font-weight:bold;
  padding:4px 0 4px 4px;
} 
</style>
<nav id="rightmenu" class="rightmenu col-md-2 d-none d-md-block bg-light sidebar">
        <div class="nav flex-column rightnav sidebar-sticky home-nav"> 
          <div class="  list-group">     <br />
          

              <span>Demos</span> <br />
              
            <a ui-sref="dataViz" ui-sref-active="active" class="yellow  list-group-item list-group-item-action">Data Viz</a>

            <a ui-sref="dataEvents" ui-sref-active="active" class="yellow  list-group-item list-group-item-action">Data Events</a>

          <a ui-sref="dataMVVM" ui-sref-active="active" class="yellow  list-group-item list-group-item-action">Kendo mvvm</a>
            <br /> 
          </div>
    
    
        </div>
      </nav>

<script src="app/components/sandbox.js"></script>
    <script src="dist/js/vendor/kendo.all.min.js"></script>
    <script src="dist/js/vendor/angular-kendo.js"></script>
           
  <!--
  <script src="app/services/dataSource.js"></script> 
    <script src="app/controllers/dataEvents.js"></script>
    <script src="app/controllers/order.js"></script> 
    <script src="app/controllers/dataViz.js"></script>

  <script src="dist/js/vendor/kendo.all.min.js"></script>
  <script src="dist/js/vendor/angular-kendo.js"></script>
   
<script src="app/services/dataSource.js"></script> 
  <script src="app/controllers/dataEvents.js"></script>
  <script src="app/controllers/order.js"></script> 
  <script src="app/controllers/dataViz.js"></script>
    
         <script src="dist/js/vendor/kendo.web.min.js" type="text/javascript"></script>
  <script src="dist/js/vendor/kendo.validator.min.js"></script>
  <script src="dist/js/vendor/kendo.grid.min.js"></script> 
  <script src="dist/js/vendor/kendo.data.min.js"></script>
  <script src="dist/js/vendor/kendo.data.odata.min.js"></script>
  <script src="dist/js/vendor/kendo.dataviz.min.js"></script>
  <script src="dist/js/vendor/kendo.dataviz.core.min.js"></script>
  <script src="dist/js/vendor/kendo.dataviz.chart.min.js"></script>
  <script src="dist/js/vendor/kendo.menu.min.js"></script> 
  <script src="dist/js/vendor/kendo.filtermenu.min.js"></script> 
  <script src="dist/js/vendor/kendo.core.min.js"></script>
         <script src="scripts/kendo.web.min.js" type="text/javascript"></script>
  -->