.details {
  color: white; }

.fixed-top {
  opacity: .8; }

.mod-behave {
  text-align: justify;
  padding: 4%;
  margin: 2%;
  max-height: 800px;
  overflow: scroll;
  color: darkslategray;
  background-color: #cee5f8; }

.longtitle * {
  margin-top: 20px; }

.title {
  color: darkslategray;
  text-align: center;
  font-size: 105%;
  margin-top: 10px; }

.author {
  font-size: 125%;
  text-align: center;
  color: slategray;
  border-bottom: 1px solid black;
  padding-bottom: 12pt;
  margin-left: 30pt;
  margin-right: 30pt; }

.chapternumber {
  color: slategray;
  margin-bottom: 5px; }

.dailytitle {
  text-align: left;
  color: darkslategray;
  font-family: 'Roboto';
  padding: 3px 0px;
  margin: 5px 0px 5px; }

.chaptertitle {
  margin-left: 30pt; }

.firstparagraph::first-letter {
  font-size: 200%;
  font-weight: bold;
  border: solid thin darkslategrey;
  padding: 4pt;
  margin: 15px 4px 0px 0px; }

img.rounded-circle {
  opacity: 1; }

img#tom {
  opacity: 1;
  background-color: white; }

a.trans-back {
  background-color: blue; }

.quote {
  margin: 0px 20px 10px 20px; }

.footnotes {
  margin-top: 30px;
  text-align: left; }

.maplegend {
  border: .5px solid white;
  font-size: .7rem;
  border: .5 solid #9ac9ee;
  padding: 5px;
  text-align: left; }

.dailytech {
  font-family: 'Monoton';
  font-weight: 100;
  font-size: 2rem; }

.subdailytech {
  font-family: 'Monoton';
  font-weight: 100;
  font-size: 1.2rem;
  text-align: center; }

#tom {
  opacity: 1; }

body {
  font-family: 'Roboto';
  background-image: url("../img/silverchip.png"); }

.hidden {
  display: hidden; }

.border {
  border: 1px solid white; }

.secret {
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: transparent;
  padding: 10px;
  font-family: 'Monoton';
  cursor: pointer;
  outline: none; }

.secret:hover {
  background-color: steelblue;
  color: #0b5e9c;
  cursor: pointer; }

#secret-paragraph {
  padding: 5px; }

#footer {
  float: left;
  min-width: 100%; }
