/* index css */

.black {
    
    background-image: url('../assets/MaestasReykjavik2_1kl.jpg');
    min-height:1600px;
}
.container {
    width: 680px;
    margin-right: auto;
	margin-left: auto;
    border: 5px outset blue;
    border-top-left-radius:100px;
	border-top-right-radius: 100px;
    border-bottom-left-radius: 100px;
	border-bottom-right-radius: 100px;
}

.container #rightmenu {
    width: 200px;
	float: right;
}
.container #center {
	width:290px;
	float:right;
	color:white;
	font-family:"courier new", courier, monospace;
	font-size:small;
}
/* ~~ The footer ~~  background-color: #00FF00;  background-image: url(assets/GiftFooter.jpg);
*/
.pieds {
    position: relative;/* this gives IE6 hasLayout to properly clear */
    clear: both; /* this clear property forces the .container to understand where the columns end and contain them */ 
    font-family:"courier new", courier, monospace;
	font-size: 12px;
	color:yellow; 
	height: 30px;
	padding-top: 50px;
	padding-right: 0px;
	padding-bottom: 5px;
    margin-bottom:0px;
	padding-left: 0px;

}
#conference {
    color:yellow;
    background-color:blue;
    opacity:.55;
    margin-left:-7px;
    max-width: 180px;
    min-width: 150px;
    border: 3px inset silver;
    border-top-left-radius:8px;
	border-top-right-radius: 8px;
    border-bottom-left-radius: 8px;
	border-bottom-right-radius: 8px;
}
#head {
    font-family:courier new, courier, monospace;
    font-size: 32px;
    opacity:.75;
	color:blue;
	background-image: url('../assets/tmm40.PNG');

    margin-bottom: 5px;
	text-align: center;
	padding-right: 10px;
    line-height:1.2em;
	padding-bottom: 2px;
	padding-left: 5px;
	padding-top: 5px;
	height: 140px;
	
	
}
.doub {
    height:35px;
}

#border3 {
    border-width: 3px;
	border-color: silver;
	border-top-style: outset;
}
#garbage {
    width:600px;
    margin-left:117px;
    text-align:right;
    color:green;
    background-image:url('../assets/1907air40.png')
}
#rstatement {
    font-weight:bolder;
    background-image: url('/assets/T30s.png');
    margin-right:-20px;
    margin-left:-20px;
    padding:10px;
    padding-top:180px;
    text-align:justify;
    font-size:15px;
    
    color:white;
    font-family:courier new, courier, monospace;
    float:left;
}
#r2 {
    padding-left:10px;
    width:45%;

}
#r1 {
    padding-left:10px;
    width:45%;
    float:left;
}
body {
	padding-bottom:0px;
    padding-left:5px;
    padding-right:5px;
    padding-top:5px;
    background-image: url('../assets/2012-07-27.jpg');
    border: 5px outset blue;
    border-top-left-radius:100px;
    border-top-right-radius: 100px;
    border-bottom-left-radius: 100px;
	border-bottom-right-radius: 100px;
    
 
}
#form { 
	font-family:"courier new", courier, monospace;
	font-size: 14px;
	max-width: 260px;	
	float: left;
    margin-top:20px;
	padding-top: 5px;
	padding-bottom: 20px;
	border-top-style: none;
	border-left-style: none;
    border-right-style: none;
	border-bottom-style: none;
    border-top-left-radius:5px;
	border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	border-width: 3px;
	border-color: white;
	font-style: normal;
	color: #EFEFEF;
}
#window {
    background-image: url('../assetstmm/Arroyoblue250.jpg');
	max-width:297px;
	padding-left:10px;
	font-size: 17px;
	color: yellow;
    padding-bottom:25px;
    height: 64px;
    opacity:.6;
    line-height:1.2em;
    font-weight:stronger;
}

.bu {
	width:38px;
    padding-right:1px;
    margin-right:1px;
	 
	background-image: url('../assetstmm/tmm40.PNG');
}

.yellow {
    background-image: url('../assets/tmm40.PNG');
        max-width: 180px;
    min-width: 160px;
}
    /* background-image: url('../Sketching/assets/1330moonscape.jpg');
    
background-image: url('../Sketching/assets/19990123_040428.jpg'); */

#first {
	border-top-right-radius: 10px;
    border-top-left-radius: 10px;
	border-top-style: outset;
    border-width: 3px;
	border-color: silver;
    color:yellow;
    padding-top:31px;
    font-size: 13px; 
    text-align:center;
    

    
}
#last {
	border-bottom-style: outset;
	border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-width: 3px;
	border-color: silver;
     height:121px;
	
}
#last a {
   
}
.menu {
    font-family:"courier new", courier, monospace;
    font-size: 14px;
	color: #963133;
	list-style-image: none;
	list-style-type: none;
        max-width: 180px;
    min-width: 160px;
	padding-top: 12px;
	padding-right: 7px;
	padding-bottom: 12px;
	padding-left: 7px;
	text-transform: none;
	text-decoration: none;
	border-width: 3px;
	border-color: silver;
	min-height: 30px;
	border-right-style: outset;
	border-left-style: outset;
	text-decoration: none;
    margin-left:-10px;
}
.menu hover {
	background-color: #CCCCCC;
}
.menu:hover {
	    color: purple;
	background-image: -webkit-linear-gradient(270deg,rgba(176,76,76,0.84) 0%,rgba(174,71,72,0.21) 23.83%,rgba(179,69,71,0.20) 43.52%,rgba(172,68,70,0.63) 68.39%,rgba(165,67,69,0.84) 92.75%,rgba(164,67,69,0.89) 94.30%);
	background-image: -moz-linear-gradient(270deg,rgba(176,76,76,0.84) 0%,rgba(174,71,72,0.21) 23.83%,rgba(179,69,71,0.20) 43.52%,rgba(172,68,70,0.63) 68.39%,rgba(165,67,69,0.84) 92.75%,rgba(164,67,69,0.89) 94.30%);
	background-image: -o-linear-gradient(270deg,rgba(176,76,76,0.84) 0%,rgba(174,71,72,0.21) 23.83%,rgba(179,69,71,0.20) 43.52%,rgba(172,68,70,0.63) 68.39%,rgba(165,67,69,0.84) 92.75%,rgba(164,67,69,0.89) 94.30%);
	background-image: linear-gradient(180deg,rgba(176,76,76,0.84) 0%,rgba(174,71,72,0.21) 23.83%,rgba(179,69,71,0.20) 43.52%,rgba(172,68,70,0.63) 68.39%,rgba(165,67,69,0.84) 92.75%,rgba(164,67,69,0.89) 94.30%);
	color: #494949;
	text-decoration: none;
	font-style: normal;
}
#first a {
 
}
.menu a {
	text-decoration: none;
	color: white;
font-family:"courier new", courier, monospace;
    font-weight: bold;
	font-weight: 600;
	font-size: 14px;
        max-width: 180px;
    min-width: 160px;
}
.menu  a:hover 
{
    
	color: purple;
}

.links {
	background-image: url('../assets/tmm40.PNG'); 
	font-family:"courier new", courier, monospace;
	font-size: 14px;
	width: 160px;
	float: left;
    padding-top:2px;
	padding-bottom: 5px;
	border-left-style: outset;
    border-right-style: outset;
	border-width: 3px;
    margin-right:5px;
    margin-top:1px;
	border-color: silver;
	border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
	font-style: normal;
	color: white;
    border-style: outset;
}

.links a {
	text-decoration: none;
	color:  white;
}
.links  a:hover 
{
	color: purple;
    text-decoration:underline;
    font-weight:bolder;
    
}
.links li 
	{
	float: left;
	color:yellow;
	display: block;
    margin-left: -37px;
	margin-right: auto;
	list-style-type: none;
	padding-left: 9px;
	width: 145px;
	text-decoration: none;
	height: 20px;
	border: 3px inset silver;
	margin-top: 10px;
}
.links  li:hover 
{
	background-color: white;
	color: purple;
}

.links ul li {
}
.menu2 {
	font-family:"courier new", courier, monospace;
	font-size: 14px;
	color: #963133;
    list-style-image: none;
	list-style-type: none;
	
	padding-top: 12px;
	padding-right: 12px;
	padding-bottom: 12px;
	padding-left: 12px;
	text-transform: none;
	text-decoration: none;
	float: right;
	height: 25px;

	border-width: 3px;
	border-right-style: outset;
	border-color: silver;
	border-left-style: outset;
	text-decoration: none;
}
#first2 {
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
	border-top-style: outset;
    border-width: 3px;
	border-color: silver;
    color:yellow;
    padding-top:31px;
    text-align:center;
    }
#last2 {
	border-bottom-style: outset;
	border-color:silver;
    border-width: 3px;
	border-bottom-right-radius: 30px;
    border-bottom-right-radius: 10px;
}
.menu2 hover {
	background-color: #CCCCCC;
}
.menu2:hover {
	background-color: purple;
	background-image: -webkit-linear-gradient(270deg,rgba(176,76,76,0.84) 0%,rgba(174,71,72,0.21) 23.83%,rgba(179,69,71,0.20) 43.52%,rgba(172,68,70,0.63) 68.39%,rgba(165,67,69,0.84) 92.75%,rgba(164,67,69,0.89) 94.30%);
	background-image: -moz-linear-gradient(270deg,rgba(176,76,76,0.84) 0%,rgba(174,71,72,0.21) 23.83%,rgba(179,69,71,0.20) 43.52%,rgba(172,68,70,0.63) 68.39%,rgba(165,67,69,0.84) 92.75%,rgba(164,67,69,0.89) 94.30%);
	background-image: -o-linear-gradient(270deg,rgba(176,76,76,0.84) 0%,rgba(174,71,72,0.21) 23.83%,rgba(179,69,71,0.20) 43.52%,rgba(172,68,70,0.63) 68.39%,rgba(165,67,69,0.84) 92.75%,rgba(164,67,69,0.89) 94.30%);
	background-image: linear-gradient(180deg,rgba(176,76,76,0.84) 0%,rgba(174,71,72,0.21) 23.83%,rgba(179,69,71,0.20) 43.52%,rgba(172,68,70,0.63) 68.39%,rgba(165,67,69,0.84) 92.75%,rgba(164,67,69,0.89) 94.30%);
	color: #494949;
	text-decoration: none;
	font-style: normal;
}
#first2 a {
    

}
.menu2 a {
	text-decoration: none;
	color: white;
	font-family:"courier new", courier, monospace;
	font-weight: bold;
	font-weight: 600;
	font-size: 14px;
}
.menu2  a:hover 
{
	color: purple;
}
#containerP {
	width: 820px;
	margin-right: auto;
	margin-left: auto;
	border-width: outset;
	border-color: #972B2C;
}
#containerP img {
	margin-top: 15px;
	margin-right: 15px;
	margin-bottom: 15px;
	margin-left: 0px;
	border-style: outset;
	border-color: #8E2A2C;
}
.blog {
    background-image:url('../assets/2012-07-27 01.55.02.jpg');
    color:blue;
    max-width:720px;
    overflow:scroll;
    text-align: left;
    padding-left:40px;
    padding-right:40px;
    margin-left:10px;
    margin-top:200px;
    border-top-style: inset;
    border-left-style: outset;
    border-right-style: outset;
	border-bottom-style: inset;
	border-width:8px;
	border-color: yellow;
}

