body {background-color:#003366;background-image:url(../zgraphics/cloth073.jpg);color:#003300;
	font-weight:bold;font-family:"Times New Roman",serif;}
.nav{}
.nav ul{list-style-type:none; padding:0px; overflow:hidden;}
.nav li{float:left; display:inline;}
.nav a:link{margin-left:7px; display:block; width:115px; height:40px; padding: 4px; font-family:Georgia,serif;
	color:#33CCCC; background-image:url(../zgraphics/marb082.jpg);
	font-weight:bold; text-align:center; text-decoration:none; border: 4px inset #33CCCC;}
.nav a:visited{margin-left:7px; display:block; width:115px; height:40px; padding: 4px; font-family:Georgia,serif;
	color:#33CCCC; background-image:url(../zgraphics/marb082.jpg);
	font-weight:bold; text-align:center; text-decoration:none; border: 4px inset #33CCCC;}
.nav a:hover{color:black; text-decoration:underline; background-image:url(../zgraphics/comp023.gif);}
.nav a:active{color:red; text-transform:lowercase; background-image:url(../zgraphics/comp023.gif);
}
.logo{border: 3px ridge silver;text-align:center; text-transform: uppercase; padding:10px; background-color:silver; font-weight:bold;
    font-family:Georgia, "Times New Roman", serif; font-size:1.75em;}
.contact{font-weight:bold;font-size:.90em;font-family:"Times New Roman",Times,serif;}
.label {float: left; width: 100px; text-align: right; padding-right: 10px;}
.signrow {padding-bottom: 20px;}
.submitrow {float:left; margin-left:150px; margin-right:20px;}
#wrapper{border: 5px ridge silver; padding:10px; width:850px; min-width:800px; height:1000px;margin-left:40px;
	background-color:#33CCCC; color:#003300;}
#cartwrap{border: 3px ridge silver; float:left; width:120px; height:800px;background-color:silver;}
#leftcolumn{border: 3px ridge silver; float:left; width:120px; height:800px;background-color:silver;}
#leftcolumn a:link{text-decoration:none; text-align:center; display:block;margin:0px 10px 10px -30px;border:2px ridge silver;
	padding:1px; background-color:#CCCCCC;font-weight:bold;}
#leftcolumn a:hover{text-align:center; display:block;margin:0px 10px 10px -30px;border:2px ridge silver;
	padding:1px; background-image:url(../zgraphics/comp023.gif); font-weight:bold;}
#leftcolumn a:visited{text-decoration:none; text-align:center; display:block;margin:0px 10px 10px -30px;border:2px ridge silver;
	padding:1px; background-color:#CCCCCC;font-weight:bold;}
#leftcolumn a:active{text-decoration:none; text-align:center; display:block;margin:0px 10px 10px -30px;border:2px ridge silver;
	padding:1px; color:red; background-color:#CCCCCC;font-weight:bold;}
#leftcolumn li{list-style-type:none;}
#rightcolumn{border: 3px ridge silver; margin-left:130px; height:800px; background-color:silver;padding-left:10px;}
#rightcolumn li{padding-left:5px;list-style-type:none; color:purple; margin:0px 0px 10px -40px;width:300px;}
#footer{font-style:italic;font-size:.80em;padding-top:20px;margin:0px;text-align:center;}


