 
  <title>Apply  </title>
 
<div class="page-apply">

  <header class="site-header">
    <div class="site-logo">Wild Rydes</div>

    <div class="row column medium-8 large-6 xlarge-5 xxlarge-4">
      <h1 class="title">Apply Today!</h1>
    </div>

    <nav class="site-nav">
      <ul>
        <li><a href="index.html">Home</a></li>
        <li><a href="unicorns.html">About</a></li>
        <li><a href="investors.html">Services</a></li>
        <li><a href="faq.html">FAQ</a></li>
        <li><a href="apply.html">Data</a></li>
      </ul>
    </nav>
    <button type="button" class="btn-menu"><span>Menu</span></button>
  </header>

  <section class="content">
    <div class="row column medium-10 large-7 xlarge-5">
       </div>
  </section>

  <footer class="site-footer">
    <div class="row column">
      <nav class="footer-nav">
       
      </nav>
    </div>

    <div class="row column">
      <div class="footer-legal">
        &copy; tmm<br>
        All Rights Reserved
      </div>
    </div>
  </footer>

  <script src="dist/js/vendor.js"></script>

  <script src="dist/js/main.js"></script>
</div> 