 
<div class="page-investors">

  <div class="top-section">
    <header class="site-header">
      <div class="site-logo dark">tmm</div>

      <div class="row column medium-8 large-6 xlarge-5 xxlarge-4">
        <h1 class="title"> </h1>
        <p class="content">      </p>
      </div>

      <nav class="site-nav">
        <ul>
          <li><a href="index.html">Home</a></li>
          <li><a href="unicorns.html">Meet the  </a></li>
          <li><a href="investors.html">Maps </a></li>
          <li><a href="faq.html">FAQ</a></li>
          <li><a href="apply.html">Apply</a></li>
        </ul>
      </nav>
      <button type="button" class="btn-menu"><span>Menu</span></button>
    </header>

    <div class="investors-list">
      <div class="row">
        <div class="columns large-4">
          <div class="investor">
            <h2 class="title pcp">Penglai Communications and Post New Century Technology Corporation Ltd</h2>
            <div class="subtitle">Global Communications Provider</div>
            <p class="content">
            
            </p>
          </div>
        </div>

        <div class="columns large-4">
          <div class="investor">
            <h2 class="title awesome">Tenderloin Capital</h2>
            <div class="subtitle">Venture Capital Firm</div>
            <p class="content">
             
            </p>
          </div>
        </div>

        <div class="columns large-4">
          <div class="investor">
            <h2 class="title barn">The Barn</h2>
            <div class="subtitle">Accelerator</div>
            <p class="content">
          
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <section class="board-directors">
    <div class="row">
      <div class="columns large-4 large-push-4">
        <div class="intro block">
          <h2 class="title">Our Board of Directors</h2>
          <p class="content">
           
          </p>
        </div>
      </div>

      <div class="columns large-4 large-pull-4">
        <div class="one block">
          <h3 class="title"> . Tim Wagner</h3>
          <p class="content">Chairman of the Board, Grand Master of the Serverless Rite</p>
        </div>
      </div>

      <div class="columns large-4">
        <div class="two block">
          <h3 class="title">   .  </h3>
          <p class="content">EIR  </p>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="columns large-4">
        <div class="three block">
          <h3 class="title">  Bulle</h3>
          <p class="content">  </p>
        </div>
      </div>

      <div class="columns large-4">
        <div class="four block">
          <h3 class="title"> .      </h3>
          <p class="content">  </p>
        </div>
      </div>

      <div class="columns large-4">
        <div class="five block">
          <h3 class="title">   </h3>
          <p class="content">  </p>
        </div>
      </div>
    </div>
  </section>

  <footer class="site-footer">
    <div class="row column">
      <nav class="footer-nav">
        
      </nav>
    </div>

    <div class="row column">
      <div class="footer-legal">
        &copy;tmm<br>
        All Rights Reserved
      </div>
    </div>
  </footer>
 