 
        <div id="noCognitoMessage" class="configMessage" style="display: none;">
            <div class="backdrop"></div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">No Cognito User Pool Configured</h3>
                </div>
                <div class="panel-body">
                    <p>There is no user pool configured in <a href="/dist/js/config.js">/dist/js/config.js</a>. You'll configure this in Module 2 of the workshop.</p>
                </div>
            </div>
        </div>

        <header>
          <img src="images/logo.png">
        </header>


        <section class="form-wrap">
            <h1>Verify Email</h1>
            <form id="verifyForm">
              <input type="email" id="emailInputVerify" placeholder="Email" required>
              <input type="text" id="codeInputVerify" placeholder="Verification Code" pattern=".*" required>

              <input type="submit" value="Verify">
            </form>
        </section>

        <script src="dist/js/vendor/jquery-3.1.0.js"></script>
        <script src="dist/js/vendor/bootstrap.min.js"></script>
        <script src="dist/js/vendor/aws-cognito-sdk.min.js"></script>
        <script src="dist/js/vendor/amazon-cognito-identity.min.js"></script>
        <script src="dist/js/config.js"></script>
        <script src="dist/js/cognito-auth.js"></script>
   