
.menu ul {
display:block;

}
.menu a {
display:block;
padding:.1em .1em;
}
.menu li {list-style-type:none;
height:30px;
width:17%;
float:left;
text-align:center;
padding-top:5px;
padding-left:10px;
color:silver;
background:teal;
border-style:outset;
border-color:silver;
border-width:4px;
margin-bottom:10px;
}

.menu li a {text-decoration:none;
display:block;
background-clip:padding-box;
}
.menu li:hover {
background-color:white;
}

nav {
margin:0;
padding:0;
display:table-cell; width: 300px; padding:10px;
background:blue;
color:white;}

.list1 ul {border: 4px inset white; 
border-radius:20px; 
padding: 5px 10px 3px;}
.list1 li {list-style-type:none; 
height:50px;
padding:20px 10px 0px 10px;}
.list1 li + li {border-top:4px inset white;}
.list1 a {text-decoration:none; 
font:20px Exo, helvetica, arial, sans-serif; 
display:block;
font-weight:400; 
color:white; 
}
.list1 a:hover {color:#069;}

article {
 
display:table-cell; padding:10px 20px; 
background:white;}
aside {
 
display:table-cell; width:300px; padding:10px;
background:red;}
