* {margin:0; padding:0;}
body { font:.9em helvetica, arial, sans-serif;}
div#container{
min-width:600px; max-width:960px;
margin:0 auto;
background:url(images/100dots.jpg) repeat-y #eee;

}
header {
padding:25px 10px;
background:#3f7ccf;
color:white;
height:100px;
text-align:center;
box-sizing:border-box;
-moz-box-sizing:border-box;
}
div#threecolwrap{
float:left;
width:100%;
background:url(images/500dots.jpg) top right repeat-y;
box-sizing:border-box;
-moz-box-sizing:border-box;
}
div#twocolwrap{
background:url(images/700rays.jpg) top right repeat-y;
float:left;
width:100%;
margin-right:-210px;

}
nav{
float:left;
width:150px;
background:lavender;
padding:20px 10px;
box-sizing:border-box;
-moz-box-sizing:border-box;
text-align:justify;
}
nav > * {margin:0 10px;} 

article {
width:auto;
margin-left:150px;
margin-right:210px;
background:blue;
padding:10px 10px;
box-sizing:border-box;
-moz-box-sizing:border-box;
text-align:justify;
}
article > * {margin:0 20px;}
aside {
float:left;
width:210px;
background:lightsteelblue;
padding:20px 10px;
box-sizing:border-box;
-moz-box-sizing:border-box;
text-align:justify;
}
aside > * {margin:0 10px;}

footer{
clear:both;
width:100%;
text-align:center;
color:white;
background:cadetblue;
height:80px;
}

#left {
display:table-cell; 
width:100px; 
padding:10px; 
background:steelblue;
}
#center { 
display:table-cell; 
padding:10px 20px;
background:silver;
}
#right{
display:table-cell;
width:150x;
padding:10px;
background:lightskyblue;
}

.headermenu {
font:1.2em georgia;
}
.headermenu a {
display:block;
color:#555;
background-color:#eee;
padding:.5em 1em;
border-width:3px 0;
border-color:transparent;
}
.headermenu a:hover {
color:#fff;
background-color:#aaa;
}
.headermenu a:active {
background:#fff;
color:#ccc;
}
.headermenu * {margin:0; padding:0;}
.headermenu ul {float:left;
width:100%;
margin:0 auto;
background-color:#eee;
}
.headermenu li {
float:left;
list-style-type:none;
position:relative;
}
.headermenu li a {
display:block;
border-right-style:solid;
background-clip:padding-box;
text-decoration:none;

}
.headermenu li:last-child a {
border-right-style:none;}
.headermenu li ul {
display:none;}

/*visual */
.headermenu li ul { 
width:9em;
background-color:blue;
}
.headermenu li li a {
border-right-style: none;
border-top-style:solid;
}
/*functional addition */
.headermenu li ul {
display:block;
position:absolute;
left:0;
top:100%;
}
.headermenu li li {
float:none;
}
.headermenu li li ul {
display:none;
}

/*      */
.headermenu li ul {
display:none;
position:absolute;
left:0;
top:100%;
}
.headermenu li:hover > ul {
display:block;
}
li ul {
display:none;
}
li:hover > ul {
display:block;
}
.headermenu li li ul {
position:absolute;
left:100%;
top:0;
}
.headermenu li:hover > a {
color:#fff;
background-color:#aaa;
}

