<div class="container-fluid">
  <div class="row">
    <div class="col-md-2">
      <!--Sidebar content-->

      <p>
        Search:
        <input ng-model="$ctrl.query" />
      </p>

      <p>
        Sort by:
        <select ng-model="$ctrl.orderProp">
          
            <option value="did">Most Recent</option>
          <option value="title">Title</option>
          <option value="cat3">Category</option>
        </select>
      </p>

    </div>
    <div class="col-md-10">
      <!--Body content-->

      <ul class="posts">
        <li ng-repeat="post in $ctrl.posts | filter:$ctrl.query | orderBy:$ctrl.orderProp"
            class="thumbnail post-list-item">
          <a href="#!/posts/{{post.id}}" class="thumb">
            <img ng-src="{{post.cat3}}" alt="{{post.cat3}}" />
          </a> 
          <p href="#!/posts/{{post.id}}">{{post.date}}</p> 
          <a href="#!/posts/{{post.id}}">{{post.title}}</a>
        </li>
      </ul>

    </div>
  </div>
</div>
